[2017-07-25 10:06] sanakhamekhem opened #1 "Text line recognition"
Hello,
I would like to use this toolkit to recognize text line image,  the groundtruth is like the following example:
aaAlaBeeE  maBalMaaEtaA  maBnaE  aaAlaBseMnaM..........................
**aaAlaBeeE**  is a word composed from this forms/letters : **aaA laB eeE**
How can I adapt this annotation to that is used in this framework like the following:
datasets/images/hello.jpg **hello**
datasets/ima

[2017-07-25 10:26] emedvedev commented on #1
Hi,

The characters of the labels are encoded into int32 symbols (i.e. `A=1`, `B=2`). The encoding is happening [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/data_gen.py#L78), and the decoding map for inference is [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L24). You can modify both the encoding and the decoding so that your labels wo

[2017-07-25 10:27] #1 closed

[2017-07-31 03:22] tea321000 opened #2 "show AssertionError when I run "aocr train training.tfrecords""
I have a sample.txt with the text such as "./1391/4/361_Kindest_42517.jpg kindest"and corresponding jpg in that directory, and I succeed in build training.tfrecords.But when I run "aocr train training.tfrecords",it shows error below:
Traceback (most recent call last):
  File "/usr/local/bin/aocr", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/aocr/__main_

[2017-07-31 03:51] emedvedev commented on #2
In the [model.py](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L47), change `max_image_width` and `max_prediction_length`.

On a related note, both arguments should really be exposed as CLI parameters, and I would welcome a PR on it if you have the time.

[2017-07-31 03:51] #2 closed

[2017-08-03 14:12] antoniosimunovic opened #3 "Synth 90k training error"
Hi,

I'm trying to train model on a Synth90k and I run into this error during training:

`InvalidArgumentError (see above for traceback): TensorArray has inconsistent shapes.  Index 0 has shape: [31,135,1] but index 1 has shape: [31,81,1]
	 [[Node: map/TensorArrayStack/TensorArrayGatherV3 = TensorArrayGatherV3[_class=["loc:@map/TensorArray_1"], dtype=DT_UINT8, element_shape=[?,?,1], _device="/job:

[2017-08-03 21:43] emedvedev commented on #3
Yes, currently all the images are supposed to be the same size. I'm planning to fix that in future versions, but unfortunately it's a limitation for now. You can modify the dataset generator so that it would pad all the images though: it shouldn't increase size too much and the accuracy might not suffer a lot (if at all).

[2017-08-05 00:00] emedvedev commented on #3
Just released a new version that should pad all the images to maximum width and height. You can use the following parameters in the CLI (with your own values, of course): `--max-width=200 --max-height=120 --max-prediction=15`.

[2017-08-05 12:56] antoniosimunovic commented on #3
Thank you, I've started the training process with new version.

[2017-08-05 12:56] #3 closed

[2017-08-07 09:55] antoniosimunovic opened #4 "testing results poor after model converging"
Hi,

I've trained the model on a Synth 90k dataset and after ~442800 iterations reported perplexity is ~1.05, precision ~90% and loss in the 0.01-0.1 range. But when I run test command on same dataset numbers are much worse. Here is statistics after 1000 test steps: accuracy ~35%, perplexity ~170528.

This is train command:

`aocr train datasets/synth90k_train.tfrecord --max-width 200 --max-height

[2017-08-07 10:10] antoniosimunovic commented on #4
Ok, just realized that there is a difference in calculating number of correct recognitions during training and testing: in training phase number of incorrect character recognitions is calculated using the levenshtein distance of prediction and ground truth label, but during test phase exact match is required for example to be correct (zero levenshtein distance).

Still, reported loss is much highe

[2017-08-08 04:39] emedvedev commented on #4
Hi,

There's a couple things to note here:

1. Loss and perplexity counts during testing are broken. I haven't looked too deep into it, but for now you might consider accuracy as your primary metric, not perplexity/loss.

2. You're right about Levenshtein during training vs full match during testing: it was important for my use-case where even the distance of 1 would invalidate the result. I'll in

[2017-08-10 06:12] emedvedev commented on #4
Google ML Cloud fails on me today for some reason, so I've tested the results on a half-trained model (2100 steps with a batch size of 512). The training accuracy is roughly equal to the testing accuracy: ~79% correctness on training, ~76% on testing).

I'll publish full results once the model reaches convergence, but so far there's a few observations about training it on Synth90k:

1. I've had to

[2017-08-11 09:11] emedvedev commented on #4
@antoniosimunovic I've released a few bug fixes in the latest version, and after moderate amount of training (~8000 iterations with a batch size of 512) I get ~93% accuracy during testing. More training and better tuning of hyperparameters could definitely increase that result.

Closing the issue, as the originally reported bug is now fixed. Thanks a lot for giving the model a try!

[2017-08-11 09:11] #4 closed

[2017-08-11 09:21] emedvedev commented on #4
Trained checkpoint: https://www.dropbox.com/s/y9duuc4bzxwuh29/synth90k.zip?dl=0

[2017-08-23 10:28] sanakhamekhem opened #5 "Feature extraction using CNN"
Hi,
I would like to extract feature sequence of a text line image  using CNN.
How can I perform this using cnn.py or model.py ?
Thank you in advance for your help.

[2017-08-23 10:59] emedvedev commented on #5
Hi,

If you only need to perform feature extraction with CNN, you don't really need this package. Try the [Tensorflow tutorial on CNN](https://www.tensorflow.org/tutorials/layers), it shouldn't be very hard and only requires Tensorflow itself.

[2017-08-23 10:59] #5 closed

[2017-08-31 12:35] subhadeepdas91 opened #6 "Unable to export model"
While exporting the model by using command
aocr export exported-model
following error is shown

subhadeep@sd-vm:~/Desktop/tensorflow_ocr/new_ocr$ aocr export exported-model
2017-08-31 18:06:08.565366: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
201

[2017-09-02 09:49] emedvedev commented on #6
Hi! Export is, unfortunately, not completely implemented yet, but I'll try to do it sometime next week.

[2017-09-04 07:07] songwendong opened #7 "UnboundLocalError"
@emedvedev ,  @brishtiteveja
Hi,
     I follow the steps above the file,when i run aocr train datasets/training.tfrecords  ,got the  error ：

  File "/home/shengcheng/anaconda2/lib/python2.7/site-packages/aocr/model/model.py", line 351, in train
    % (self.sess.run(self.global_step), step_time, loss, perplexity))
UnboundLocalError: local variable 'perplexity' referenced before assignment

I set p

[2017-09-05 05:11] subhadeepdas91 opened #8 "Recognize arbitrary length string"
Hi,
I have followed the steps and successfully trained a machine to recognize characters from 0 to 9,
Currently it is able to recognize images with a single character, but unable to recognize arbitrary length of characters,
Please suggest me a way to make the OCR recognize arbitrary length of characters and properly arrange them as per the image

[2017-09-05 08:31] emedvedev commented on #8
Hi,

Aside from training character recognition, you also need to train the attention part of the model. That means that if it hasn't ever seen multi-character strings before, it will not be able to "understand" them.

You should train the model on multi-character images instead of single characters. Ideally, your training images should be close to what you need the model to recognize, or the train

[2017-09-05 08:31] #8 closed

[2017-09-14 11:27] subhadeepdas91 opened #9 "Error assertion failed: [width must be <= target - offset]"
While training following error occured, assertion failed: [width must be <= target - offset]
Detailed log as follows

aocr train datasets/training.tfrecords

2017-09-14 16:57:11.201375: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to use SSE4.1 instructions, but these are available on your machine and could speed up CPU computations.
2017-09-14 16:57:1

[2017-09-14 11:31] emedvedev commented on #9
Make sure you use the most recent version of the package (there was a related bug that's been fixed in the latest version) and that you set `--max-width` and `--max-height` parameters correctly during the training. The default max width is only 160px, which may not be enough for your case.

[2017-09-24 11:52] sanakhamekhem commented on #5
Hi Mr Edward,

Please, I have a question about feature extraction from an image using CNN
keras.
Should I train the model on my own data or simply I build the model and
save it, then I load weights to predict the output of the wanted layer??

My code is the below:

def buildModel(height_im,slidingwindow_widh):
    kernel=(3, 3)
    input_img = Input(shape=(height_im, slidingwindow_widh, 1))  # ada

[2017-09-25 16:45] emedvedev commented on #5
Unfortunately, I'm afraid can't help you with your own code, but if you have an issue with this project, please feel free to report it.

[2017-09-26 19:20] tumusudheer commented on #6
Hi @emedvedev ,

 It would be great if you can please provide export and freezing graph code if you have already implemented.

Thanks in advance!!!

[2017-09-28 00:38] tumusudheer opened #10 "`max-width` only works with widths divisible by 40"
Hi @emedvedev

`aocr train datasets/training.tfrecords` command is throwing the following error:

[code]

Am I doing any thing wrong ?

Thanks in advance !!!

[2017-09-28 04:55] emedvedev commented on #10
Make sure you are running the latest version, the dataset is created properly (did you use `aocr dataset` to do it?), and the image widths fit into the `max_image_width` limit.

[2017-09-28 06:09] tumusudheer commented on #10
Hi @emedvedev ,

When I do max_image_width = 160 instead of 300, I'm not getting the error I mentioned earlier. Yeah I'm using aocr dataset to prepare the tfrecords and `aocr train` to train.

When I'm doing `aocr train`, I'm getting the following error:

[code]

[code]

I did `pip install aocr` to install my aocr module

[2017-09-28 20:26] emedvedev commented on #10
You should also set `--max-prediction` to the maximum length of your predicted word/phrase. The default is 10, and you have words that are longer.

[2017-09-28 20:34] emedvedev commented on #7
This error was be fixed in the latest release. Just update the module.

If you want to train Chinese, you should modify the mapping in data_gen.py and the `target_vocab_size` parameter. When you train (and later, run) your model, it works with tokens (1, 2, 3) instead of characters (a, b, c). In your case, the tokens will be Chinese characters instead of latin alphabet, and `target_vocab_size` sho

[2017-09-28 20:34] #7 closed

[2017-09-29 09:09] tumusudheer commented on #10
Hi @emedvedev ,

Thank you very much for your response. I overlooked the MAX_PREDICTION flag in default, my mistake. I was able to start training though If I do not set the MAX_WIDTH to some number divisible by 40 or 80, I'm getting some weird error as follows, am I doing any thing wrong ?

One more questions is: do all my images have to be of the same size as MAX_WIDTH x MAX_HEIGHT (do I need to

[2017-10-02 19:10] mattfeury opened #11 "NotImplementedError on training"
Hi! First off thanks for this repo. It's been immensely helpful. I've hit a few snags but I've been able to work around them (can submit a PR if wanted). But on occasion during training I see this error:

[code]

I'm able to dig into the code and see where this is obviously raised for probably a good reason, but am not sure what the core reason is. Any thoughts as to why this might be happening? i

[2017-10-02 19:12] mattfeury commented on #9
FYI i'm still seeing this on occasion as well. Tried to pass the max params in via CLI and also tried to edit model.py directly, but still seeing it. I wrapped the batch loop in a try/catch for now so it will at least continue to train when it seems what i'm assuming is an unexpected image. just wanted to share.

[2017-10-02 21:07] mattfeury commented on #6
would love to see this done as well. training the model is great, but now i'd like to do some cool stuff with it! any way i could help?

[2017-10-03 02:48] emedvedev commented on #9
Weird. The latest version should just discard large images without raising exceptions. If it happens when the training dataset contains a large (>max-width) image which is not being ignored, that's worth a deeper look. Thanks for reporting this.

[2017-10-03 02:50] emedvedev commented on #11
What about `max-prediction-length`? This error will be raised when the decoder size (i.e. the maximum size of the predicted output) is more than the `max-prediction-length` value. The default is `8`, so it wouldn't be enough if your dataset has, for example, long words.

[2017-10-03 02:51] emedvedev commented on #11
And of course PRs are welcome!

[2017-10-05 20:40] emedvedev commented on #10
Oh. I will have to fix the faulty `max-width` values, but yes, for now it should be fine to find the nearest one that works.

It's good as long as the images are within the limits. They will just be padded if necessary.

There is a single input placeholder, `input_image_as_bytes`, and [a single output](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L202). `input_image_a

[2017-10-06 00:28] emedvedev commented on #6
Just letting you guys know that I've implemented the model export. There are two possible formats: a [frozen graph](https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc) or a SavedModel ready for [TensorFlow Serving](https://www.tensorflow.org/serving/).

Finally closing the issue :)

[2017-10-06 00:28] #6 closed

[2017-10-06 00:36] tumusudheer commented on #6
Thank you very much @emedvedev

[2017-10-08 05:03] ckirmse opened #16 "some string issues with python3, especially --visualize"
Hi--this is a great repo, thanks to the original authors and the great work you have done to make it more usable.

With the very latest code (I pulled on morning of oct-7-2017), there are a few string issues. The 'test' command is reporting incorrect results due to some byte / string issue, even if the prediction is correct. I'm seeing things like b"B'test'" vs b'test (where the correct word is te

[2017-10-08 07:57] emedvedev commented on #16
Hi! There was a recent PR with some python3 fixes, and my subsequent fixes later: https://github.com/emedvedev/attention-ocr/commit/d299c507851132cf86fd1364a94388c109aea935 and https://github.com/emedvedev/attention-ocr/commit/44bb58ed5403d4479398af985be08eb06e649479. This must be what've caused the issue, although I tested training and exporting after merging, and it was fine—although I can imagi

[2017-10-08 08:46] reidjohnson commented on #16
Hey all, I ran into this issue as well. It seems some byte-encoded variables are expected as strings. I'm not sure that it's the most principled approach, but converting the model output ([line 270 of model.py](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L270)) and label input ([line 59 of data_gen.py](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/

[2017-10-09 05:24] ckirmse opened #18 "test --visualize doesn't work"
Entering this as a to-do item. It looks like it broke in the conversion to use TFRecordDataset

To fix, I think the proper solution is to:
- add filename into the record in dataset.py:generate
- read and set filename in data_gen.py:_parse_record
- pass filename into bucket_data.append and save it in there
- grab filename from batch data in model.py:test and pass it to visualize_attention()

I'm no

[2017-10-09 05:37] emedvedev commented on #18
Thanks for the issue! I don't think we even need a file name, since we can just use the `label` field for that: pass the label (grounds) to `visualize_attention` and created a folder based on the label. If there's more than one file with the same label (like in Synth90k; I think they have the same filename, too), check if the folder already exists and create a folder named `label-<N>`.

That would

[2017-10-09 15:22] ckirmse commented on #18
That's true, I think that's a better strategy.

[2017-10-09 15:23] emedvedev commented on #18
Sweet. I'll see if I can get to it in the next couple weeks, but if not, please feel free to submit a PR!

[2017-10-09 15:40] mattfeury opened #19 "anyway to get "Confidence" metric?"
Hello,

I'm interested in knowing a "confidence" for a given prediction. Does anyone have any ideas on the best way to tackle this? I assume there is some output in the graph (potentially for each character?) that I could tap into to calculate this. Hope to play with this later this week but wanted to see if anyone had any ideas first.

[2017-10-09 18:28] rishikelltontech opened #20 "TypeError: descriptor 'encode' requires a 'unicode' object but received a 'str'"
Hi,

I am getting the "TypeError: descriptor 'encode' requires a 'unicode' object but received a 'str'" when I build a TFRecords dataset by ruuing "aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords" command.

**Following is the error traceback:**

2017-10-09 23:49:00.678817: W tensorflow/core/platform/cpu_feature_guard.cc:45] The TensorFlow library wasn't compiled to u

[2017-10-09 18:28] emedvedev commented on #20
Please checkout `master` and try again: I've just merged https://github.com/emedvedev/attention-ocr/pull/17 that should fix the issue.

[2017-10-09 19:08] rishikelltontech commented on #20
Thanks. It working

[2017-10-09 19:09] #20 closed

[2017-10-09 19:24] mattfeury commented on #11
think this was a max prediction length issue. had some bad data in there that i did not expect.

[2017-10-09 19:24] #11 closed

[2017-10-10 04:50] ckirmse commented on #16
fix was merged

[2017-10-10 04:50] #16 closed

[2017-10-10 04:59] ckirmse commented on #9
I think the problem is that it's discarding images with width > max_width, but later the image will be scaled if height < max_height and the scaled width can be > max_width. I'd suggest re-opening this issue; we can confirm this is the actual issue and fix it assuming it is.

[2017-10-10 05:26] rishikelltontech commented on #18
Hi,
I am also facing the same issue.
test --visualize is not working. When I ran "aocr test --visualize ./datasets/testing.tfrecords", code inside the [for loop](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L257) is not executing. After debugging, I found out that list(self.s_gen.gen(1)) is empty.

Does anyone have a fix for this?

[2017-10-10 05:33] ckirmse commented on #10
I think it's more complicated than just widths divisible by 40--max_width of 320 and max_height of 48 works, but --max_width of 320 and max_height of 32 does not work. I've been trying to figure out exactly what's going on but I haven't solved it yet. Any thoughts?

[2017-10-10 05:39] ckirmse commented on #18
@rishikelltontech no, it doesn't currently work--see above on a plan to fix it. If you can do it and make a PR, please do it, otherwise someone else may get to it soon.

[2017-10-10 06:12] rishikelltontech commented on #18
@ckirmse : Thanks for the reply. When I run "aocr test --visualize ./datasets/testing.tfrecords", **list(self.s_gen.gen(1))** is empty list. Do you have any idea why it is ging me empty list?

[2017-10-10 13:29] #10 closed

[2017-10-16 16:30] mattfeury commented on #19
so dug in a little bit here and wanted to report back. still seeing some funkiness, but here's where i'm at:

Looking at this code: https://github.com/emedvedev/attention-ocr/blob/45052281b9a907eb888c252ec4c821171b1808d2/aocr/model/model.py#L177
This seems to be where we get the predictions back for each AttentionDecoder (this list looks to be equal in size to `MAX_PREDICTION` which makes sense, a

[2017-10-17 02:26] ckirmse opened #25 "Poor results using exported model in some cases"
I'm wondering if anyone else is seeing this.

I have a model trained with 20,000 synthesized images of between 1 and 50 characters, including spaces. Using the 'test' function, I'm getting good results--test images that have short text are usually 100%, and longer ones are usually off by just a character or two. So far so good.

I used the export function and ran the tensorflow_model_server, and t

[2017-10-17 04:57] emedvedev commented on #25
I'll look into it, there's clearly something wrong with exporting. If you export a frozen graph instead of a SavedModel, does it perform any better?

[2017-10-17 05:00] ckirmse commented on #25
Ah, that was my next thought too. I exported a frozen graph and have the same exact problem, so it seems to not be related to tensorflow serving, but instead to exporting. I noticed that the frozen graph seems to be too small (data file is 94MiB, meta file is 23MiB, but frozen graph pb is only 32MiB), if I understand that properly.

[2017-10-17 05:01] emedvedev commented on #25
Thanks! Looks like a problem with exporting indeed, I'll see what I can do.

[2017-10-17 07:33] reidjohnson commented on #19
The logic seems right (when using the product). I have a different implementation that I believe/hope is working that might serve as a useful (though perhaps inefficient) reference.

I basically populate a probability tensor in parallel with the prediction tensor:

[code]

I then add it to the output feed at each step:

[code]

Apologies for the long code snippets.

[2017-10-17 19:19] mattfeury commented on #19
thanks for the feedback! just implemented yours and it is working fine, but some of the numbers still seem funny to me. for instance, on values that match 100%, i see probabilities that range from 18%-99% (e.g. 45%, 27%, 61%, 34%, 99%). and on values that are fairly wrong, i see anything from 17% - 99.8% (e.g. 54%, 99%, 95%, 32%, 70%).

it's possible it's just my dataset, but i'm surprised to see

[2017-10-17 19:37] mattfeury commented on #19
just piggybacking off my comment, i have my max prediction length set for 12, which gives me 12 probability lists. however, the overwhelming majority of my training set is ~6 characters, which is potentially why i'm seeing such crazy probability values. perhaps it's those last 7-12 tensors that are just "not confident" dragging my prediction down? if i down max_prediction_length to 8, i get some m

[2017-10-18 01:43] ckirmse commented on #19
It would be great to get the confidence per character exposed in the outputs via a PR, if you guys don't mind sharing the great work! It's cool that it seems we have a few of us actively using and improving this repo... let's help each other out :).

[2017-10-18 02:08] emedvedev commented on #19
Thank you guys for that, your help on this project is really appreciated. ❤️ I don't have too much time for it, since it's just a side project for me, but I'll help out where I can — and of course happily review contributions and publish the new versions to pip.

[2017-10-18 04:09] reidjohnson commented on #9
I believe updating the `_prepare_image`function  to also resize images that are too wide should correct the problem. Perhaps others could confirm. e.g.:

[code]

[2017-10-18 04:59] ckirmse commented on #18
No, that doesn't make sense if you successfully made a testing.tfrecords file. Try rebuilding it with the latest code, which has some extra safety checks.

[2017-10-18 15:41] mattfeury commented on #19
can submit a PR for overall confidence today. would love to get confidence per character at some point, because honestly i'd love to give a list of possible solutions instead of just the most probable. e.g. here are 20 potential OCRs with their confidence score. but that would be a later thing unless someone wants to jump on it

[2017-10-18 15:44] mattfeury commented on #25
i haven't tried any of the exporting in the codebase as of yet, but prior to it being implemented i was using this script to create a frozen model:

[code]

lifted most of that from here: https://blog.metaflow.fr/tensorflow-how-to-freeze-a-model-and-serve-it-with-a-python-api-d4f3596b3adc

[2017-10-18 15:49] emedvedev commented on #9
If height < max_height, it should just be padded — I was sure I've implemented this already, that's why I'm a little puzzled by this bug. Maybe there's something in the part of the code responsible for padding the image.

I like this idea, except we also need to make sure that people don't try using full-size pictures or anything else of the sort, otherwise it'll first be resized to the degree whe

[2017-10-18 15:50] emedvedev commented on #25
That's pretty much what I've based the frozen graph exporting as well. SavedModel is a bit more tricky, but if the problem appears in both cases, should be something in the shared code.

[2017-10-18 17:44] reidjohnson commented on #9
I think it's quite a difficult bug to identify, but let's consider an example. The default `IMAGE_HEIGHT` is 32, the default `max_image_width` is 160, and the default `max_image_height` is 60. Let's consider using these defaults to resize an image that is 320 width by 32 height.

Given the defaults, `self.height` and `self.height_float` will be 32 and 32.0, respectively. In `_prepare_image()`, `wi

[2017-10-18 17:47] reidjohnson commented on #9
Note that in `data_gen.py`, there is an if statement that checks `self.max_width and (Image.open(IO(img)).size[0] <= self.max_width)` to prevent adding images with a width exceeding `self.max_width` from being added to a bucket. However I believe this is executed after the `_prepare_image()` function.

[2017-10-18 20:58] ckirmse commented on #25
@mattfeury were you able to successfully reimport that frozen model and use it? If so, was that within python code or some other system, and can you give an idea of the size of your checkpoint data, meta data, and frozen model? I'm not sure what "normal" is. Thanks!

[2017-10-18 21:05] mattfeury commented on #25
yea i was. in fact i just finished getting it going in a TF serving environment and am seeing solid (albeit early) results. i'll share my process below, but as i mentioned earlier, i haven't used any of the new "export" code for any of this as i started working on it prior to that being merged. once i stop being lazy, i'd like to consolidate that obviously.

- so i run that script above to get a f

[2017-10-18 21:32] mattfeury commented on #19
PR submitted!

[2017-10-18 21:57] mattfeury commented on #9
fyi, i had an image that was able to reliably reproduce this issue and tried your code @reidjohnson and now it is working fine. haven't really dug into the guts of your code, but at a high level it makes sense.

[2017-10-18 22:21] ckirmse commented on #25
Thanks a **lot** for posting this--I'll test it tonight if possible (similar to @emedvedev this is just a side project for me) and l'll post back results.

[2017-10-18 22:25] ckirmse commented on #19
Totally agreed about the list of possible solutions being ideal--I'm running into a lot of '0' vs 'O' and '1' vs 'l' choices that don't always come out correctly. I'm looking forward to trying out the overall confidence, though too.

[2017-10-18 22:38] mattfeury opened #28 "Return multiple guesses and probabilities for a given image"
As briefly discussed in #19, it would be great to return a list of "guesses" with their probabilities. e.g. for an image like "JABRONI" we could get a response a la
[code]

adding this here to track it. i may find some time to get to it, but not in the short term. think we just need a clever way to go through the probabilities and determine which guesses we should consider. somewhere around here:

[2017-10-18 23:59] ckirmse commented on #25
OK, I tested your export (after tweaking to include 'prediction') and it came out the same as the export that @emedvedev added, meaning same file size and predictions came out the same (which for me is a lot worse than when using the 'test' function of the main repo). I suspect the difference I'm seeing is due to the settings I'm using:

` --full-ascii --max-width 380 --max-height 32 --max-predict

[2017-10-19 08:09] emedvedev commented on #25
@ckirmse I'm not sure what could be the difference between the `test` function and the exported model, but as a hunch, can you change the first three symbols of the charmap from `['', '', '']` to `['<GO>', '<EOS>', '<PAD>']` and then see if the gibberish you're seeing actually comes after `<EOS>`? It's possible that it's just not cut properly.

[2017-10-19 08:41] emedvedev commented on #19
Merged the overall probability, so I'll close this issue, and the multiple guesses are going to be tracked in #28.

[2017-10-19 08:41] #19 closed

[2017-10-20 02:32] ckirmse commented on #9
I've tested it successfully too. I can make a PR if @reidjohnson does not. @emedvedev to help potential users who don't understand that the text needs to be cut out first, maybe we could error out an image if its height and width are **both** too large? That would be easy to put into the dataset creation.

[2017-10-20 02:42] emedvedev commented on #9
Erroring out might be a little too much, but a warning would be good, I think.

Aside from dataset creation, might make sense to put it inside the training so that the user could see if there's a significant portion of the training dataset that's discarded? My reasoning here is that I usually create a dataset first, and then play with maximum width/height during training.

[2017-10-20 04:56] ckirmse commented on #9
Ah, that makes total sense. I haven't done much size experimentation yet :).

[2017-10-22 05:54] pribadihcr opened #30 "Pretrained model"
Hi @emedvedev,

Where to download the pretrained model?

Thanks

[2017-10-22 08:32] thisismohitgupta commented on #30
can you provide a pretrained model?  it would be really helpful.

[2017-10-22 09:58] emedvedev commented on #30
It really depends on what you mean by that. To achieve good results, your training dataset should be as close as possible to the data you're going to be using the model on, so I can't really provide a pre-trained model: it should be trained according to your use case.

The model can be easily trained in Google Cloud Platform for free though: it provides a generous amount of trial credits.

One thi

[2017-10-22 09:58] #30 closed

[2017-10-23 03:27] thisismohitgupta opened #31 "Error when training on Synth 90k"
2017-10-22 23:07:17.471187: W tensorflow/core/framework/op_kernel.cc:1158] Invalid argument: Invalid JPEG data, size 1024
In
image = tf.image.decode_png(img, channels=1)

[2017-10-23 09:51] emedvedev commented on #31
Thanks for the report! Could you please provide the image in the dataset that errors out? Does this error appear from the beginning, or at some point in the middle of the training process?

[2017-10-23 21:15] thisismohitgupta commented on #31
happens in the middle, roughly around 1300-1500 steps with batch size of 512. I hard tried but I could not identify that problematic image. Please help.

[2017-10-24 02:53] emedvedev commented on #31
It's pretty much impossible to help unless I know what the image is, unfortunately. You can try inserting some debugging line that would output the list of images in the batch, and then try to narrow it down to a particular one, or just add a catch that would ignore a failed batch and continue training. Might be that your dataset is corrupted.

[2017-10-25 04:25] ckirmse commented on #25
I ran some tests today--I've been creating the model on a linux machine, and running inferences on a macos machine when I've seen this problem. I just had the same problem on the macos machine when using the new "predict" mode, so the problem appears to be running the model on a different setup (not sure why os would matter, but between tensorflow and the various dependencies, it's hard to isolate

[2017-10-26 01:48] tumusudheer commented on #31
Hi @emedvedev,

I've faced similar errors while training on my data. I debugged which images are giving the similar errors and I used Imagemagick's convert command to convert that image to gray scale and the commands are working fine.

I think the issue is with this line `image = tf.image.decode_png(img, channels=1)` [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py

[2017-10-26 02:32] emedvedev commented on #31
@tumusudheer thanks for investigating the issue! Can you confirm that the proposed change works with a "broken" image?

@thisismohitgupta you can try applying the proposed patch and re-training your model. Please tell me if it helps!

[2017-10-26 13:09] thisismohitgupta commented on #31
@emedvedev it did'nt work for me.
 @tumusudheer how did you debug from 9 M images. any pointers?

[2017-10-26 19:38] thisismohitgupta commented on #31
adding the following lines solves the problem
[here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/data_gen.py#L62)
[code]

[2017-10-26 21:37] emedvedev commented on #31
Well, then we're just silently skipping broken images, which isn't very good. Is there any way to make an image reading/conversion more bulletproof so that we wouldn't skip anything?

[2017-10-27 00:38] tumusudheer commented on #31
HI @emedvedev ,

I trained with my proposed change yesterday, and I just verified the results. They are good

This change worked for me:
[code]

While skipping the images, we can create a log file which lists all broken images. After preparing training data, people can verify what is wrong with the images in log file and try to fix/verify the images.

[2017-10-27 05:37] #18 closed

[2017-10-27 07:41] emedvedev commented on #31
Sweet! Would you mind opening a PR with the change then? If you want, you can also implement image skipping there, would be great.

[2017-10-28 00:46] tumusudheer commented on #31
Hi @emedvedev ,
Sure I'll send a PR with my changes.

[2017-10-28 03:45] emedvedev commented on #25
@ckirmse what's the CPU/GPU setup between machines? The problem may appear because some Tensorflow operations are non-deterministic on GPUs, and the results may be different because of that. Usually they are only slightly different though, and it doesn't give a significant deviation, but could still happen.

A more obvious guess would be the Tensorflow version.

[2017-10-28 04:55] ckirmse commented on #25
I have a GPU on the linux box, just CPU on macOS. Both of them have TensorFlow 1.3. I'm working on training with a larger batch of synthesized data and will run more tests across machines once I get good enough results on at least one machine :). I think it's close.

[2017-10-29 04:31] tumusudheer commented on #25
Hi @emedvedev ,

I'm facing the same issue as the frozen model (using the code provided in the branch) is not giving good results (not as same as when you ran test). I'm getting good results when I ran 'test' on the same image. So I've decided to initialize the model as you were doing [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/__main__.py#L247) and save as binary graph (wit

[2017-10-29 17:15] Sudheer-Flipkart opened #33 "Probabilities a"

[2017-10-29 17:16] #33 closed

[2017-10-29 17:22] tumusudheer opened #34 "Non-deterministic results on GPU"
Hi @emedvedev ,

I ran test on same image multiple times using the readme command.
aocr test ./datasets/testing.tfrecords

Every time I ran the command, I'm getting same predicted word as output, but the inference probabilities are changing (including loss as well).

Run1:
Step 1 (1.096s). Accuracy: 100.00%, loss: 0.000364, perplexity: 1.00036, probability: 93.33% 100%  <word>

Run2:
Step 1 (0.988

[2017-10-29 17:45] emedvedev commented on #34
Hi,

It's perfectly normal, especially if you run GPU. Some optimizations that Tensorflow performs are non-deterministic, so you'll get slightly different results every time. There's usually no need to make it perfectly deterministic, and it can come with a speed penalty, but if you're interested, take a look at [this article](https://www.twosigma.com/insights/a-workaround-for-non-determinism-in-t

[2017-10-29 19:21] tumusudheer commented on #34
Hi @emedvedev ,

I trained the net on GPU, freeze the model and running the frozen graph(model) on CPU. The results are not slightly different, but way off.
Run1: LUBE with probability 0.839753
Run2: LUBE with probability 0.690503
and
Run3: LUBE with probability 0.796141

I'll checkout the article you've referred. Thank you.

[2017-10-29 23:50] ckirmse commented on #34
Interesting article-- @tumusudheer maybe we can investigate uses of the non-deterministic functions and change them out. I've run into the same issue, but with longer phrases I often get actual different predicted text.

[2017-10-30 04:44] tumusudheer commented on #34
Hi @ckirmse,

Sure, sounds good to me. I'll keep posted if I find a fix. Please let me know if find a fix.

Thanks.

[2017-10-30 09:27] reidjohnson commented on #34
I believe the source of non-deterministic behavior is how the CNN is initialized. Namely, this line:

[code]

should actually be:

[code]

Otherwise, dropout (which will randomly remove connections from the output of the CNN) is performed even during testing.

[2017-10-30 11:01] emedvedev commented on #34
@reidjohnson oh, good catch! Committed the fix.

@tumusudheer @ckirmse could you verify that this behavior is fixed (or at least significantly reduced) in the latest `master`?

[2017-10-30 15:01] ckirmse commented on #34
Oh wow, yeah that's quite poor! Good catch. I'll test out tonight.

[2017-10-30 15:16] ckirmse commented on #34
This would have affected the exported graphs, too, I think.

[2017-10-30 18:01] emedvedev commented on #34
@ckirmse I think so.

[2017-10-30 18:11] mattfeury commented on #25
after looking at #34, i've started to dig a little deeper and it does look like i'm also seeing some inconsistency, both on the probability and the predicted text when using my exported model. i'm going to dig in a little more here today, but i'm running them both on the same machine so should be same hardware and seeing a lot of inconsistency.

[2017-10-30 18:15] mattfeury commented on #34
@ckirmse @emedvedev i'm not sure that is the case and that may actually be our issue here. as far as I can tell, our export stuff pulls from the checkpoint_state, which is only saved during training, meaning it's likely saving the model as prepared for training. this is probably why `aocr predict` works very well, but exporting and serving gives wildly different values (#25).

[2017-10-30 18:18] ckirmse commented on #34
@mattfeury yeah I agree--that's what I was trying to say but I now realize my statement was vague. I meant to say "exporting should be building a test/prediction graph (no dropout), but as of right now it is using what's in the checkpoint which does have dropout, so that needs to be changed".

I'm hopeful that fixing that will fix #25.

[2017-10-30 18:20] mattfeury commented on #34
ok i'm going to try and get up to speed with that code and see what i can do

[2017-10-30 18:37] tumusudheer commented on #34
Hi All,

The fix
`cnn_model = CNN(self.img_data, not self.forward_only)` is working great for me. Thank you for the fix.

Here is the code I've used to freeze binary graph without weights.

[code]

Just use the same parameters as 'aocr test'

After this I've used [freeze_graph](https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py) utility from tensorflow as

[2017-11-05 16:11] #25 closed

[2017-11-07 16:47] #9 closed

[2017-11-11 19:43] ckirmse opened #39 "missing filename gives a difficult to understand error"
A typo in a command line argument with a parameter leads to a hard-to-understand error:

Better error detection around data_gen.py line 40 would save me multiple sad attempts at figuring out my own mistake.

I'll make a PR for this soon if no one else does.

[2017-11-14 05:03] ckirmse opened #41 "optionally save filename as comment field in dataset"
Right now, if you have a large corpus for training, many of which have the exact same text, it is painful to figure out which one is responsible for a low value in output of the 'test' command.

Proposed solution: save the original filename with the record and output that in testing.

Thoughts?

[2017-11-15 08:20] emedvedev commented on #41
I think it could be a good idea, although instead of having a `filename` field, we can probably name it `comment` to be a bit more generic, and save the filenames there with a CLI option during dataset generation. During the testing, if `comment` is present, it can be output when the comparison is not correct.

What do you think about that?

[2017-11-16 06:14] ckirmse commented on #41
Works for me. I'll probably do this before I do another training run if no one else gets to it first.

[2017-11-19 15:45] #41 closed

[2017-11-20 06:35] tumusudheer commented on #34
Hi @emedvedev ,

Closing this as the fix is working great.

Thanks.

[2017-11-20 06:35] #34 closed

[2017-11-25 08:54] #39 closed

[2017-12-01 17:09] CruzzRazor opened #44 "how to use this module?"
how can i use this package in my code?
when i use that aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords line it shows command not found.
what to do after pip install aocr?
is there any tutorial available ?

[2017-12-01 17:11] emedvedev commented on #44
If you need anything other than the [README](https://github.com/emedvedev/attention-ocr/blob/master/README.md), then I can only suggest to check out the source code. For general Tensorflow tutorials, the Tensorflow website is very helpful.

[2017-12-01 17:11] #44 closed

[2017-12-07 11:14] 0x0004 opened #45 "How to use 'predict' ?"
I see the'predict' in modle.py.
so, running command: aocr predict xx.png ,it said 'open file fail'.
How to use 'predict' ?

[2017-12-07 13:40] emedvedev commented on #45
See `[__main__.py](https://github.com/emedvedev/attention-ocr/blob/master/aocr/__main__.py#L312)`: after you've trained the model, you can predict by passing the file list to stdin line by line.

[2017-12-07 13:41] #45 closed

[2017-12-20 04:19] lmolhw5252 commented on #31
Hi I got some problems when I want to train.
Caused by op 'IteratorGetNext', defined at:
  File "/home/user/anaconda3/bin/aocr", line 11, in <module>
    sys.exit(main())
  File "/home/user/PycharmProjects/attention-ocr-master/aocr/__main__.py", line 308, in main
    num_epoch=parameters.num_epoch
  File "/home/user/PycharmProjects/attention-ocr-master/aocr/model/model.py", line 347, in train

[2017-12-20 08:09] emedvedev commented on #31
`NotFoundError (see above for traceback): ./home/user/Dataset/CAPTCHAs/training.tfrecords`

Your dataset path is incorrect. I'd say it's that dot in the beginning. :)

[2018-01-08 21:44] AdamWP opened #47 "Error when Building TFRecords dataset."
I'm using TensorFlow 1.4r and when I attempt to build TFRecords I get the following error:

"File "/usr/local/lib/python2.7/dist-packages/aocr/model/seq2seq.py", line 74, in <module>
    linear = rnn_cell._linear  # pylint: disable=protected-access
AttributeError: 'module' object has no attribute '_linear'"

I've tried editing seq2seq.py by changing line 71 from "from tensorflow.contrib.rnn.python

[2018-01-08 23:25] AdamWP commented on #47
It turns out "linear" was moved to rnn_cell_impl.py.

[2018-01-08 23:25] #47 closed

[2018-01-09 03:44] yanpozka opened #48 "error running aocr"
After installing **aocr** (`pip install aocr`) in both my OS and the official tensor docker container(**gcr.io/tensorflow/tensorflow**) I'm getting this error even when I run `aocr --help`:
[code]

[code]

[2018-01-09 05:44] AdamWP commented on #48
In some versions of TF _linear was moved from rnn_cell to rnn_cell_impl.

You need to modify /usr/local/lib/python2.7/dist-packages/aocr/model/seq2seq.py

Change line 71 from "from tensorflow.contrib.rnn.python.ops import rnn, rnn_cell"
to
"from tensorflow.contrib.rnn.python.ops import rnn
from tensorflow.python.ops import rnn_cell_impl"

Change line 74 "linear = rnn_cell._linear" to "rnn_cell_imp

[2018-01-09 05:53] AdamWP opened #49 "AssertionError"
I'm using TF 1.4.0 and am having an issue when training.  When I run "aocr train datasets/training.tfrecords" I get the following error:

File "/usr/local/bin/aocr", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python2.7/dist-packages/aocr/__main__.py", line 306, in main
    num_epoch=parameters.num_epoch
  File "/usr/local/lib/python2.7/dist-packages/aocr/model/model.py", line

[2018-01-09 13:30] wushilian opened #50 "question of pad"
Is the label should be pad into same length?,just like start<pad><pad>

[2018-01-09 15:47] emedvedev commented on #50
No, the labels in the dataset aren't supposed to be padded, but you should set the `max-prediction` training parameter to be equal to (or longer than) your biggest possible label.

[2018-01-09 15:49] emedvedev commented on #48
Yup, looks like it's been moved in 1.4, so aocr is lagging a little behind.

@AdamWP would you mind submitting a PR? Ideally with a conditional `import`, to keep compatibility with the older TF versions.

[2018-01-09 15:51] emedvedev commented on #49
How long is your label? `max-prediction` is set to 8 by default, so it'll error out on labels longer than 8 characters. Just set it to whatever makes sense for you in the CLI.

[2018-01-10 08:50] #49 closed

[2018-01-10 09:03] AdamWP commented on #48
@emedvedev Done!

[2018-01-10 13:30] AdamWP opened #52 "UTF-8 and Special Characters"
I'm trying to train with special characters such as currency symbols, hyphens, slashes, and apostrophes.  I see that data_gen.py sets the character map to ascii.  Is this project limited to ascii characters for any particular reason or should it be possible to use UTF-8 characters?

[2018-01-11 21:51] feygina opened #53 "ValueError: GraphDef cannot be larger than 2GB"
I'm training on my own dataset containing rather long text lines. I'm wondering if it can be the reason for this error. Probably anyone can know how to fix it? Thanks!

[2018-01-12 00:45] emedvedev commented on #48
Thanks! Closing the issue.

[2018-01-12 00:45] #48 closed

[2018-01-12 00:51] emedvedev commented on #52
It's absolutely not limited for ASCII characters, and should work just fine with a larger charset. `[CHARMAP](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/data_gen.py#L14)` should be the only thing you'd need to modify for that. It shouldn't even affect performance too much, but I'm not 100% sure.

I'd really appreciate it if you could report your findings once you modify the m

[2018-01-12 01:20] emedvedev commented on #53
Long lines are, indeed, the problem: when you set a high `max-prediction` value for longer text, it significantly increases the number of seq2seq encoder/decoder nodes, so the graph size bloats. The title error aside, it might result in pretty bad performance; this model isn't optimized for something like that, unfortunately.

You could try extracting individual words from your image first (or at

[2018-01-12 02:52] AdamWP commented on #52
I added the special characters I needed, but I also had to add

#!/usr/bin/env python
# -*- coding: utf-8 -*-

to the top of data_gen.py.        It looks like training is working so far.  I'll let you know how it goes.

Lines 17 & 18 look like they may cause issues, or am I mistaken?

def setFullAsciiCharmap():
        DataGen.CHARMAP = ['', '', ''] + [chr(i) for i in range(32, 127)]

[2018-01-12 03:36] AdamWP opened #54 "Questions about spaces"
The datasets I've seen referenced for this project all contain single strings of text that contain no spaces .  My use case will require identifying strings of text that contain spaces.   How well does attention-ocr work if it is provided an image that contains multiple strings of text separated by spaces?  Will it work, or does it require images with continuous strings of text only?

[2018-01-12 04:21] emedvedev commented on #54
It might work, given the strings aren't too long. Otherwise you could try some preprocessing / segmentation beforehand (see https://github.com/emedvedev/attention-ocr/issues/53).

[2018-01-12 04:37] emedvedev commented on #52
It's only called when the `full-ascii` flag is specified (for case-sensitive recognition), so shouldn't really interfere with your modifications.

[2018-01-12 04:58] AdamWP commented on #54
I'll give it a try. Thanks!

[2018-01-12 04:58] #54 closed

[2018-01-12 04:58] AdamWP commented on #52
Thanks.  It worked!

[2018-01-12 04:58] #52 closed

[2018-01-12 05:30] ckirmse commented on #54
I've been detecting strings with spaces very successfully, so you should be fine @AdamWP .

[2018-01-12 05:45] #50 closed

[2018-01-12 07:28] AdamWP commented on #54
Thanks @ckirmse !  That's what I like to hear 👍 .   Did you train your model with strings of text that included spaces, or continuous strings of text?

[2018-01-12 16:29] ckirmse commented on #54
I trained it with maybe 1/2 strings with spaces, 1/2 without. In general the more similar the training data to the evaluation data the better.

[2018-01-12 19:50] feygina commented on #53
Thank you for your response and advice. I tried Tesseract before, and it gave me only 55% accuracy (I have low resolution images), but Google Vision API OCR 87%. So now I want to train something that can perform like Google or even better.

[2018-01-12 23:21] emedvedev commented on #53
You can certainly try this model then, but you'll still have to split your strings into shorter segments, or maybe even add an object detection layer to the model, although that'd be a lot of work, and I'm not sure about its results for OCR. Let me know how it goes though, I'm curious now!

[2018-01-16 16:48] AdamWP opened #55 "Restart Training from Checkpoint"
Is it possible to restart training from a the last checkpoint?

[2018-01-17 04:05] ckirmse commented on #55
Yes if you terminate the training run and run it again, it will automatically load the most recent checkpoint. You can edit the text file named 'checkpoint' to tell it to start at an older one if you'd prefer, too.

[2018-01-17 11:02] #55 closed

[2018-01-22 15:25] pannous opened #56 "annotations-training.txt missing"

[2018-01-23 15:33] ccnankai opened #57 "Finishing the training and saving the model at step 0."
.

[2018-01-23 15:34] ccnankai commented on #57
@mattfeury @ckirmse

[2018-01-23 15:49] #53 closed

[2018-01-23 15:52] emedvedev commented on #57
Hi! Try debugging the `.gen` method [around L50-L51](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/data_gen.py#L50-L51). Could be something with `make_one_shot_iterator`, but I'm not entirely sure.

[2018-01-23 16:58] ccnankai commented on #57
@emedvedev
After I git clone  the project, Python __main__.py  train dataset_path=data.tfrecords  --batch-size=1
![image](https://user-images.githubusercontent.com/33537489/35289125-6b4c06ac-00a1-11e8-8736-401e67e67005.png)
Even if I change the path of datasets ,  This error will be displayed.thank you for your help

[2018-01-23 17:00] emedvedev commented on #57
It should be `train data.tfrecords` rather than `train dataset_path=data.tfrecords`

[2018-01-24 03:16] ccnankai commented on #57
@emedvedev   I did not find where the error occurred(stop at step 0 ), the code in L50-L51  looks lilke correct.
![2018-01-24 11 15 19](https://user-images.githubusercontent.com/33537489/35312727-eb64a280-00f7-11e8-9c7e-d0a68ed8ed11.png)
thank you !

[2018-01-24 19:41] feygina opened #58 "unrecognized arguments: --attn-use-lstm=False"
The same problem with gpu-id. Can you please explain me how to set parameters. I didn't have problems with --max-width, --max-height, --max-prediction, --full-ascii, and --color.  Thanks!

[2018-01-25 08:45] emedvedev commented on #58
`attn-use-lstm` has actually been removed a while ago: LSTM is used by default, and you can specify `use-gru` if you want GRU instead. Updated the README to reflect that.

Setting parameters was a bit weird, since some parameters, like `gpu-id`, were global, and others were specific to subcommands. The default `argparse` syntax is `aocr [global] train [local]`, but it's confusing as hell, so I've

[2018-01-25 18:13] feygina commented on #58
Thanks for your answer and update @emedvedev !

[2018-01-26 05:07] emedvedev commented on #58
You're welcome! Glad you like the project :)

[2018-01-26 05:07] #58 closed

[2018-01-26 06:22] #57 closed

[2018-01-29 00:31] Omnipresent opened #59 "Detecting multiple words?"
I've read the original paper and it seems that it detects multiple words in an image. I would like to confirm whether this is true? By multiple words I mean detecting text "The Mistake You" in the image below:

![box_0](https://user-images.githubusercontent.com/115446/35489196-98ad6244-0461-11e8-8075-8c54bc1f9e3a.jpg)

Also, Is there a saved model available that is trained on http://www.robots.ox.

[2018-01-29 03:14] ckirmse commented on #59
If you train it with data that includes spaces then it will detect multiple words, but the training is key to making that work. That dataset above appears to only include single words so you'd have to enhance that.

[2018-01-29 04:56] AdamWP opened #60 "Training with Multiple GPUs"
Does this project support training on multiple GPUs?

[2018-01-29 10:02] emedvedev commented on #60
Not right now, unfortunately. Theoretically, there's nothing that would stop you from implementing it in a similar fashion to the [CIFAR CNN](https://www.tensorflow.org/tutorials/deep_cnn) example, I just didn't have the need for it when developing the module.

[2018-01-30 12:11] vedarddy opened #61 "Problem while training with datasets.tfrecords"
Traceback (most recent call last):
  File "/home/phani/Documents/AOCR/attention-ocr/aocr/__main__.py", line 277, in <module>
    main()
  File "/home/phani/Documents/AOCR/attention-ocr/aocr/__main__.py", line 252, in main
    num_epoch=parameters.num_epoch            )
  File "/home/phani/Documents/AOCR/attention-ocr/aocr/model/model.py", line 348, in train
    for batch in s_gen.gen(self.batch_si

[2018-01-30 14:57] emedvedev commented on #61
The `max-prediction` parameter is set to 8 by default, so it'll error out on labels longer than 8 characters. Just set it to whatever makes sense for you in the CLI when you run the training subcommand.

[2018-02-01 03:31] nickppbd opened #62 "AttributeError: module 'tensorflow.python.ops.rnn_cell_impl' has no attribute '_linear'"
C:\Users\username>aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords
Traceback (most recent call last):
  File "C:\Python\Scripts\aocr-script.py", line 11, in <module>
    load_entry_point('aocr==0.6.0', 'console_scripts', 'aocr')()
  File "C:\Python\lib\site-packages\pkg_resources\__init__.py", line 572, in load_entry_point
    return get_distribution(dist).load_entry_

[2018-02-01 03:36] emedvedev commented on #62
Hi! Which version of Tensorflow are you running?

On Jan 31, 2018, 22:31 -0500, nickppbd <notifications@github.com>, wrote:

[2018-02-01 04:22] emedvedev commented on #62
I think it's fixed now, please try 0.6.1.

[2018-02-01 04:27] nickppbd commented on #62
I use 1.5.0 tensorflow version.
What means 'please try 0.6.1.' ?

[2018-02-01 09:58] emedvedev commented on #62
I’ve just released a new package version, 0.6.1, so it could be fixed there (or just on master), but not entirely sure, since I haven’t tried TF 1.5.0 yet. Will try tomorrow and report.

On Jan 31, 2018, 23:27 -0500, nickppbd <notifications@github.com>, wrote:

[2018-02-01 10:30] emedvedev commented on #62
@nickppbd released another version, 0.6.2, and verified that it works with 1.5.0. Please try updating from `master` (or pip) and running again.

[2018-02-01 10:30] #61 closed

[2018-02-01 10:30] #59 closed

[2018-02-01 10:41] nickppbd commented on #62
Thanks, I'll do the new version and report:)

[2018-02-02 00:52] nickppbd commented on #62
@emedvedev I tried 'pip uninstall aocr and pip install aocr' and do this below.

**** means I hide for security.
C:\Users\****>aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecor
2018-02-02 09:45:21.070347: I C:\tf_jenkins\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not

[2018-02-02 04:30] nickppbd commented on #62
@emedvedev I remove anaconda and reinstall tensorflow from pip and Do this below.

PS C:\> pip uninstall acor
Uninstalling acor-1.1.1:
  c:\python\lib\site-packages\acor-1.1.1.dist-info\description.rst
  c:\python\lib\site-packages\acor-1.1.1.dist-info\installer
  c:\python\lib\site-packages\acor-1.1.1.dist-info\metadata
  c:\python\lib\site-packages\acor-1.1.1.dist-info\metadata.json
  c:\python\

[2018-02-02 04:59] emedvedev commented on #62
It's a different error already. I think your paths should be different on Windows: try "datasets/annotations-training.txt datasets/training.tfrecord" for relative paths, without `./` in the beginning.

Closing the issue, because the original problem has been resolved, but feel free to comment or open new ones!

[2018-02-02 04:59] #62 closed

[2018-02-04 14:31] nickppbd opened #63 "No module named tensorflow"
I installed attention-ocr in my home on Ubuntu 14.04 LTS.
But this message happened.
I followed https://www.tensorflow.org/install/install_linux
1.After installing python 3.n Virtualenv steps, I installed attention-ocr but failed with below message.
2.After installing python 2.7 Virtualenv steps, I installed attention-ocr but failed with below message.

aocr dataset ./datasets/annotations-training

[2018-02-04 14:38] emedvedev commented on #63
It's possible the virtualenv just isn't activated, or maybe there's some similar issue. In any case, Tensorflow guides and Stack Overflow would be a good bet to help you debug the issue. :)

[2018-02-04 21:34] #60 closed

[2018-02-05 04:35] nickppbd opened #64 "No such process"
this error happened at tensorflow 1.5 in Window 10
./datasets/annotations-training.txt file shold be in there?
I can't find annotations-training.txt anywhere.

C:\Users\kimduknam>aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords
2018-02-05 13:14:41.835884: I C:\tf_jenkins\workspace\rel-win\M\windows\PY\36\tensorflow\core\platform\cpu_feature_guard.cc:137] Your CPU supp

[2018-02-05 06:53] emedvedev commented on #64
Hi,

You need your own set of images with labels as well as your own annotations file. See _[create
a dataset](https://github.com/emedvedev/attention-ocr#create-a-dataset)_ in the README.

[2018-02-05 06:53] #64 closed

[2018-02-05 06:54] #63 closed

[2018-02-05 07:56] nickppbd commented on #64
@emedvedev I got it. Thank you:)

[2018-02-05 08:46] nickppbd opened #65 "ERROR missing filename or label"
This is on Windows 10
I tried many files, But below Error happened, and I tried only one file, the result was the same.

I tried 'aocr dataset datasets/annotations-training.txt datasets/training.tfrecords', but the result was the same.(C:\Users\kimduknam\datasets\images include jungle.jpg)

'annotations-training.txt' file is below.
./datasets/images/jungle.jpg jungle

C:\Users\kimduknam>aocr datas

[2018-02-05 09:05] AdamWP opened #66 "Optimizing for Inference"
I'm trying to run my graph on an Android device however I'm having some issues optimizing the graph.   Has anyone managed to get attention-ocr to work on an android devices?   Here's what I've tried so far.

I froze the graph using aocr export --format=frozengraph ./exported-model

Then I tried the optimizing for inference by running:

The resulting .pb file gave me an error.

I then tried optimiz

[2018-02-05 09:12] AdamWP commented on #65
Your windows machine uses backslashes in the path, while your annotations file has forward slashes.

[2018-02-05 11:13] nickppbd commented on #65
@AdamWP OH, I missed it. Thank you for the comment! Without it, I'll never get it.

[2018-02-05 12:05] nickppbd commented on #65
I tried on my Ubuntu 14.04 LTS, But The same error happened.
I used forward slashes.
I did the command at my home folder.

My home folder has datasets folder
datasets folder has images folder and annotations-training.txt file.
images folder has coley.jpg file

annotations-training.txt file is just like below
datasets/images/coley.jpg coley

(tensorflow)***~$ aocr dataset ./datasets/annotations-tra

[2018-02-05 12:20] emedvedev commented on #65
@nickppbd pushed a small fix that should help, please update the module and try again :)

[2018-02-05 12:33] nickppbd commented on #65
@emedvedev Thanks, It works well!!! I aocr datasets two images file and created training.tfrecords over 5.0kB and I aocr trained for the first time!!!

[2018-02-05 12:34] emedvedev commented on #65
Great, I'm glad it works for you now :) Closing the issue, but please feel free to re-open or open a new one if you have more questions.

[2018-02-05 12:34] #65 closed

[2018-02-07 01:39] nickppbd opened #67 "aocr test does not work for real picture?"
80% of http://www.cs.cmu.edu/~yuntiand/sample.tgz for train

the rest of it for testing

I trained and made model(model.ckpt-9000.data-00000-of-00001, model.ckpt-9000.index, model.ckpt-9000.meta) and aocr test command for the rest of the link sample data.

The result was great!, so I decided to aocr test command for my own picture.

I took a picture of a word(it was 'months' word) and edit size(to

[2018-02-07 01:48] #67 closed

[2018-02-07 01:49] nickppbd commented on #67
I'm sorry it's just max_image_width problem. I resize months.jpg to 159x29. It works well!

[2018-02-07 23:12] reidjohnson commented on #66
I can't speak to your specific issues, but I have a modified version of the model that I've been testing on iOS and Android (replacing the respective TensorFlow demo apps with the model) and can describe what I did.

To get the model running on-device with minimal effort, I had to change the definition of the input data to `self.img_data = tf.placeholder(tf.float32, [1, DataGen.IMAGE_HEIGHT, DataG

[2018-02-11 21:56] AdamWP commented on #66
Thanks @reidjohnson .   Does this require that all images in the dataset must have the same height and width?

[2018-02-12 14:23] reidjohnson commented on #66
No, only that they're resized/padded to a fixed height and width (as already performed by the current code).

[2018-02-12 14:24] reidjohnson commented on #66
Also note that the TensorFlow Android and iOS examples perform similar resizing.

[2018-02-13 08:58] cipri-tom opened #68 "Visualizing attention: magic line"
Hi,

Thank you for making the code so complete and for including the attention visualization mechanism!
2 questions and 1 small issue 😃

Issue first:
There is a small typo in [this resize](https://github.com/emedvedev/attention-ocr/blob/0cfeacb945f78e810ebac587ab06a67e7da9d752/aocr/model/model.py#L468). It should use `(mw, mh)` in order to keep the original ratio of the image. PR for such a small

[2018-02-13 10:32] emedvedev commented on #68
Thanks for noticing the resizing issue! Fixed. :)

The numbers are copied from [the original model](https://github.com/da03/Attention-OCR), and to be honest, I'm not entirely sure how the authors came up with them. While most parts of that model (and all the tooling around it) have been reworked, some are left as is, including the numbers. :) Feel free to ask the authors or just tweak it yourself.

[2018-02-13 10:32] #68 closed

[2018-02-13 12:23] MBleeker commented on #31
Hi Guys,

I encounter the same problem. But, for some reason both solutions are not working for me. Therefor I set the batch size to 1 and checked witch image caused the problem, it is:

mnt/ramdisk/max/90kDICT32px/2194/2334_EFFLORESCENT_24742.jpg

But, there could be more ...

Cheers,
Maurits

[2018-02-13 15:18] MBleeker opened #70 "No bias terms in the CNN"
Is there a reason why the feature extraction is only using convolutional kernels and no bias term?

[2018-02-13 15:56] emedvedev commented on #70
Not that I remember, but feel free to ask the [original authors of the model](https://github.com/da03/Attention-OCR) or just experiment and submit a PR if you get better results with bias terms.

[2018-02-14 16:11] #66 closed

[2018-02-15 03:14] reidjohnson commented on #68
I don't believe the attentions should generally be offset. I've worked extensively to update the attention visualizations in my own fork, and found that the current method doesn't properly account for how images are resized. See the expected behavior below in predicting the output `1078`. I'll submit a pull request with my changes as time permits. In the meantime, keep up the good work!

![example

[2018-02-16 09:07] emedvedev commented on #31
@MBleeker Hi there! Just checking: have you set the `max-prediction` parameter while training and testing? From an earlier issue:

If it's set correctly, then could you provide the full log of your run?

[2018-02-16 09:43] MBleeker commented on #31
Hi @emedvedev,

I found the problem already. I never used setup.py before ... I did not know about the .egg files. The updates I made were therefor not used while running the code. It is working now. There are several corrupted images

About the bias terms we discussed in #70 . I added them, results seems not be significantly better, but not worse either (the only problem is that you cannot use pr

[2018-02-16 11:04] emedvedev commented on #31
If there's no visible benefit, I'd rather maintain backward compatibility, but if you find out that bias terms do have significant benefit with some datasets, please submit a PR, I'd really appreciate it!

I tried to tweak it a little, but mostly just depends on the dataset. I find the defaults to be sensible, but maybe someone else will have something to add here, too. :)

[2018-02-22 19:41] MBleeker commented on #70
Hi,

I looked into this question and I found the answer. When applying  batch norm you do not need the bias terms.  Batch norm will recenter the feature map such that bias terms are not needed.

Cheers

[2018-03-19 02:40] lmolhw5252 opened #72 "How to set GPU ID when training？"
I use command:
aocr  xxx.tfrecords --gpu-id=0
it doesn't work.

[2018-03-19 02:45] emedvedev commented on #72
Well, your GPU ID flag seems to be correct. Can you paste the full command and its output?

[2018-03-19 02:55] lmolhw5252 commented on #72
aocr: error: unrecognized arguments: --gpu-id=1

[2018-03-19 02:57] emedvedev commented on #72
@lmolhw5252 if `aocr xxx.tfrecords --gpu-id=0` is the exact way you're entering the command (I can't tell without the full output), then you're missing a subcommand: `train`, `test`, etc.

If the subcommand is there, please paste the _full_ command and the output from the console.

[2018-03-19 03:02] lmolhw5252 commented on #72
oh, sorry, the full command is:
aocr train xxx.tfrecords --gpu-id=1
return: usage: aocr [-h] [--log-path LOG_PATH] []
                       [][][][]
                        {dataset, train, test, export, predict}...
aocr:error: unrecognized arguments: --gpu-id=1

[2018-03-19 03:03] lmolhw5252 commented on #72
![image](https://user-images.githubusercontent.com/20182607/37576034-19b5091c-2b65-11e8-9038-8370d4eea6f2.png)

[2018-03-19 03:03] emedvedev commented on #72
Can you try `aocr --gpu-id=1 train xxx.tfrecords`? The flag order matters in `argparse`, unfortunately. If that doesn't work either, I'll take a closer look tomorrow.

[2018-03-19 03:04] lmolhw5252 commented on #72
ok, I will try it, and reply you.Thanks a lot!

[2018-03-20 05:41] lmolhw5252 commented on #72
Hi I got a problem about tf.AUTO_REUSE, when I use tensorflow 1.3 , I got the problem of
![image](https://user-images.githubusercontent.com/20182607/37637726-4e387fe0-2c44-11e8-9351-e75784ace83b.png)

[2018-03-20 05:58] emedvedev commented on #72
Glad the flag is working for you now! `tf.AUTO_REUSE` doesn't exist in 1.3, so you'd need to update your TensorFlow.

On a related note, the traceback doesn't look anything like the code in `master`: `AUTO_REUSE` isn't used anywhere in `aocr`, and there's no `util/layers.py`, too. If you're running some kind of fork or a modified version, you should really open an issue there: it's hard for me to

[2018-03-20 06:06] lmolhw5252 commented on #72
When  i using tf 1.4 I got
![image](https://user-images.githubusercontent.com/20182607/37638416-c0470392-2c47-11e8-834c-ddc51c47a5ae.png)

[2018-03-20 06:09] emedvedev commented on #72
Well, it tells you that your dataset file does not exist. Check your path more carefully, it's probable that there's just a typo there somewhere.

I'm going to close the issue as the original problem is resolved, but if you have any more problems with the codebase in `master` (_not_ a modification or a fork), please feel free to open a new one!

[2018-03-20 06:09] #72 closed

[2018-03-23 17:21] masonsun opened #73 "OSError in visualizing results"
When I run `aocr test --visualize test.tfrecords`, it throws the error `OSError: cannot write mode RGBA as JPEG`.

I have tried converting all my test images to JPGs and removing the alpha channels, but this doesn't seem to work. Any tips?

[2018-03-23 17:28] masonsun commented on #73
Thanks for the quick response. Here it is:

`(tensorflow_p36) ubuntu@ip-10-0-0-201:~/aocr_module/data$ aocr test --visualize test.tfrecords
2018-03-23 17:26:50.385278: I tensorflow/core/platform/cpu_feature_guard.cc:137] Your CPU supports instructions that this TensorFlow binary was not compiled to use: SSE4.1 SSE4.2 AVX AVX2 FMA
2018-03-23 17:26:50.470643: I tensorflow/stream_executor/cuda/cuda_g

[2018-03-23 17:40] emedvedev commented on #73
Thanks!

It would be great if you could help with testing a little: can you replace `img_out.save(output_filename)` with `img_out.convert("RGB").save(output_filename)` in `model/model.py` and verify that it works?

[2018-03-23 17:43] emedvedev commented on #73
As an aside, you're running an outdated version of the module, and the latest one shouldn't have this error. Is there something that's preventing you from updating?

[2018-03-23 18:53] masonsun commented on #73
Thanks for all the help. It seems that running `pip install aocr` as is actually installs v0.7.0, which does not contain the updated `visualize_attention` function. After your newest commit and upgrading the `aocr` module via pip, everything works fine!

Closing the issue (:

[2018-03-23 18:53] #73 closed

[2018-03-31 15:35] lmolhw5252 opened #74 "The Initial_learning_rate just can recongnition '1'?"
When I want to change learning rate, I found that the learning rate cannot recognition bellow '1',
![image](https://user-images.githubusercontent.com/20182607/38164781-1c544c92-353c-11e8-89e4-452df23e9ae5.png)

[2018-03-31 17:39] #74 closed

[2018-03-31 17:40] emedvedev commented on #74
@lmolhw5252 it's working with values <1 as it should, just the display value was casted to int. Fixed now.

[2018-04-09 07:50] hiepph opened #76 "Whole line (multiple words) recognition"
Refer this issue https://github.com/emedvedev/attention-ocr/issues/59, are some modifications I make below sufficient to recognize multiple words (as a line)?

+ Include the space character into `CHARMAP` in `aocr/util/data_gen.py`.

+ Increase `max-prediction` for predicted phrase.

+ Increase `max-width` for input image

[2018-04-09 08:56] emedvedev commented on #76
Should be enough, I think.

On Apr 9, 2018, 09:50 +0200, Hiep Pham <notifications@github.com>, wrote:

[2018-04-10 09:31] emedvedev commented on #31
I'll close the issue since the original problem has been fixed, so if anyone else has issues with Synth90k, just open a new one. :)

[2018-04-10 09:31] #31 closed

[2018-04-10 09:33] #70 closed

[2018-04-11 04:24] lmolhw5252 opened #79 "Can you explain how the accuracy is calculated?"
When I testing use my model with your code, get the acc is 87%, but I check the file about the result, the correct words are 450 and the incorrect words are 141. So I want to ask about the way to calculate about accuracy.

[2018-04-11 05:41] emedvedev commented on #79
Accuracy is calculated using Levenshtein distance to take into account how far off the prediction is.

In other words, let’s say you have ten-character strings, and none of them are predicted correctly, but in all cases 9 out of 10 characters are right. Then you’ll get the accuracy report of 90%.

If you want to count incorrect results as 0% (no matter how much is predicted correctly inside a word

[2018-04-11 05:49] lmolhw5252 commented on #79
ok，Thanks a lot

[2018-04-11 06:04] lmolhw5252 commented on #79
And I got another question about different image size， I see your code use one bucket, does it's mean that the different size of the image will be resized to a fixed size? If I want to use few buckets like /da03/Attention-OCR/ issues, How should I change the code?

[2018-04-11 06:25] emedvedev commented on #79
It will be padded rather than resized, so in theory, there should be no decrease in accuracy without the buckets with the same `max-image-width`; there's a decrease in performance, but only if your images are very different in width (because they'd be put into smaller buckets in this case). Changing the code to use buckets now would really be non-trivial.

[2018-04-11 06:47] lmolhw5252 commented on #79
Ok, I got it. Thank you for your reply!

[2018-04-11 06:50] emedvedev commented on #79
You're welcome! I'll close this issue, but if you have more questions, feel free to open additional ones.

[2018-04-11 06:50] #79 closed

[2018-04-11 19:52] ckirmse commented on #76
Yes that's why --full-ascii exists too, @hiepph . I've done this successfully.

[2018-04-19 19:17] ckirmse commented on #76
Hi @hiepph --sorry I didn't see this message sooner. I'm using max-width 380, max-height 32, max-prediction 75 with a few tens of thousands of images. You don't want max-height to be so large because all the images will get stretched to that size, and it will destroy the aspect ratio. You should be able to see some results with only 1000 images for training, but you need a lot more to get really g

[2018-04-19 21:03] ckirmse commented on #76
Sorry yes you're right, they won't get stretched, but they will be scaled to fit the max-width x max-height rectangle, and if your images are of vastly different aspect ratios then that could reduce quality. In general I think you want max_width to be much larger than max_height, particularly when trying to detect longer strings.

[2018-04-23 17:10] avielas commented on #48
but how did you solved that?

[2018-04-23 17:11] avielas commented on #48
@emedvedev but how did you solved that?

[2018-04-23 17:28] emedvedev commented on #48
@avielas https://github.com/emedvedev/attention-ocr/pull/51

[2018-04-23 17:30] avielas commented on #48
thanks so much!!

[2018-04-24 14:04] hiepph commented on #76
Thank @ckirmse for sharing your configuration. I wouldn't succeed without your help.

As mine using max-width 500, max-height 160, max-prediction 30 (for name data with 3 to 4 words), with 17.500 train images I gained 93% accuracy for 4300 test images.

Will close the issue for now.

[2018-04-24 14:04] #76 closed

[2018-04-25 21:55] avielas commented on #48
@emedvedev #51 didn't work for me. I used tensorflow version 1.4.0 on ubuntu 16. my seq2seq.py:

from tensorflow.python.ops import nn_ops
from tensorflow.contrib.rnn.python.ops import rnn
from tensorflow.python.ops import variable_scope

try:
    from tensorflow.contrib.rnn.python.ops import rnn_cell_impl
except ImportError:
    from tensorflow.python.ops import rnn_cell_impl

try:
    linear = rn

[2018-04-25 21:58] emedvedev commented on #48
Can you paste the full error log you’re getting? Maybe there’s been another change between TF versions.

On Apr 25, 2018, 23:55 +0200, avielas <notifications@github.com>, wrote:

[2018-04-25 21:59] avielas commented on #48
**sure:**
(virtualenv_attention) <user>@<computer-name>:~/DL/attention-ocr$ sudo aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords
Traceback (most recent call last):
  File "/usr/local/bin/aocr", line 7, in <module>
    from aocr.__main__ import main
  File "/usr/local/lib/python2.7/dist-packages/aocr/__main__.py", line 15, in <module>
    from .model.model import Mode

[2018-04-25 22:02] avielas commented on #48
I tried tf 1.2 1.4 1.8. what exactly version should I use?

[2018-04-25 22:18] avielas commented on #48
update error(tf 1.2):
(virtualenv_aocr_0_7_3) <user>@computer-name:~/DL/aocr-0.7.3$ sudo aocr dataset ./datasets/annotations-training.txt ./datasets/training.tfrecords
Traceback (most recent call last):
  File "/usr/local/bin/aocr", line 9, in <module>
    load_entry_point('aocr==0.7.3', 'console_scripts', 'aocr')()
  File "/usr/lib/python2.7/dist-packages/pkg_resources/__init__.py", line 542, in

[2018-04-26 01:11] emedvedev commented on #48
Thanks! One more thing: which aocr version are you running, and is there a difference in the error logs between the latest version in pip and the github master?

On Apr 26, 2018, 00:18 +0200, avielas <notifications@github.com>, wrote:

[2018-05-03 03:50] trungtinnguyen opened #83 "Access violation executing location"
I try to implement this code on C++, but I counter this error  Access violation executing location, here my code on C++:

Eigen::Tensor<float, 3> convertToEigen(unsigned char* image, int rows, int cols) {
		Eigen::Tensor<float, 3> x(rows, cols, 1);
		for (int j = 0; j < rows; j++) {
			int index = j * cols;
			for (int i = 0; i < cols; i++) {
				x(j, i, 0) = image[index + i];
			}
		}
		return x;

[2018-05-03 04:12] emedvedev commented on #83
You might have better luck on Stack Overflow with this question. Issues are mostly meant for reporting bugs or discussing features.

On May 3, 2018, 05:50 +0200, trungtinnguyen <notifications@github.com>, wrote:

[2018-05-03 10:51] trungtinnguyen commented on #83
thanks for reply, I fixed it, I my mistake when load graph.

[2018-05-03 10:57] #83 closed

[2018-05-07 06:22] zengpeng175 opened #84 "NotFoundError"
(see above for traceback): Tensor name "conv_conv5/BatchNorm/moving_mean" not found in checkpoint files model/translate.ckpt-47200

[2018-05-07 06:24] #84 closed, assigned to nobody

[2018-05-08 03:51] lmolhw5252 opened #85 "Can I set different learning_rate in different layer?"
How Can I set different learning_rate in the different layer?

[2018-05-08 03:52] lmolhw5252 commented on #85
Looking for your reply! Thankyou

[2018-05-10 06:40] feiyang2010jin opened #86 ""test" compare with "predict" have different result for the same image"
@emedvedev
hello   thank you for your share !   I Meet a problem when test the model,
why for the same image , I chose "test"  and "predict"  recognition , but return different result.

[2018-05-11 02:07] emedvedev commented on #86
Hi! It would be great to have more information on this: full logs, the reference image (and ideally the checkpoint), information about your dataset. That'll give me something to work with.

Another question: are you getting _consistent_ results with both `test` and `predict`? Do they always differ in the same way?

[2018-05-11 02:09] emedvedev commented on #85
Hi! I'm afraid you can't do that using the CLI, because the model just isn't suited for this. :(

If you decide to fork the model and modify the source code, please let me know what kind of results you'll end up getting!

[2018-05-11 02:10] #85 closed

[2018-05-11 07:18] feiyang2010jin commented on #86
2018-05-11 14:32:29.978380: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1120] Creating TensorFlow device (/device:GPU:0) -> (device: 0, name: GeForce GTX 1080 Ti, pci bus id: 0000:02:00.0, compute capability: 6.1)
2018-05-11 14:32:30,183 root  INFO     phase: predict
2018-05-11 14:32:30,183 root  INFO     model_dir: ./checkpoints
2018-05-11 14:32:30,183 root  INFO     load_model: True
2018-

[2018-05-14 12:05] martinbacsi commented on #86
I'm experiencing the same issue

[2018-05-14 14:21] emedvedev commented on #86
Which version are you trying? Is it the latest `pip` or the `master` branch? If it's the `master`, can you please try again?

[2018-05-14 15:07] martinbacsi commented on #86
I was using the pip version (0.7.4) now installed the master branch. still experiencing the issue.

[2018-05-17 11:02] trungtinnguyen opened #88 "Implement on C++"
I don't know how to feed data input to feedict, Anyone know how to run this code on C++ after freeze model, please help me.

[2018-05-18 08:58] emedvedev commented on #88
You might have better luck on Stack Overflow with this question. Issues are mostly meant for reporting bugs or discussing features.

Here's a few links that might be helpful:
https://stackoverflow.com/questions/35508866/tensorflow-different-ways-to-export-and-run-graph-in-c/43639305#43639305
https://github.com/formath/tensorflow-predictor-cpp
https://medium.com/@hamedmp/exporting-trained-tensorflo

[2018-05-18 08:58] #88 closed

[2018-05-18 09:26] TheRealBashkim opened #89 "Training finishes and saves model at step 0"
Hi, I'm trying to do training on some reg plates with a training set of 100 images and a test set of 50 images.
When I try and train this is the output given.

2018-05-18 10:23:44,749 root  INFO     phase: train
2018-05-18 10:23:44,749 root  INFO     model_dir: ./checkpoints
2018-05-18 10:23:44,749 root  INFO     load_model: True
2018-05-18 10:23:44,749 root  INFO     output_dir: ./results
2018-05

[2018-05-18 10:21] emedvedev commented on #89
It looks like your training set might be smaller than a default batch size. Are you sure it's 100 and not less (the batch size is 65)? Try setting the batch size to 10 or 20 and see if it's any different.

On a related note, 100 images sounds like a very small set to me. Not sure whether you'd get any kind of results with a set of this size.

[2018-05-18 10:28] TheRealBashkim commented on #89
Thanks for the reply, I've tried setting the batch size to 10 and 20 with no change.
I will try it on a bigger set, how many images would you recommend for a decent set size.

[2018-05-18 10:30] emedvedev commented on #89
It depends on your particular use case, but I would say you should start with a few thousands.

Try to remove the `checkpoints` dir before starting, too. Also, which version do you use and did you install it from pip or clone the `master` branch?

[2018-05-19 04:54] lmolhw5252 opened #90 "Can I both training and testing?"
Hi I got a problem when I using your code, that my model is over fitting.
I want to have a test when I training my model.
So how can I use the code?

[2018-05-19 05:00] emedvedev commented on #90
If your model is overfitting, try using a larger dataset, augmenting it, or just stopping earlier. That would be the most basic advice, I guess. If that doesn't help, you'd have to try adjusting hyperparameters or even changing the model a little, but unfortunately, I can only help with the project issues and bugs, not with general ML questions. If you are sure there's a bug in the codebase that i

[2018-05-19 05:00] #90 closed

[2018-05-19 05:11] lmolhw5252 commented on #90
Thank you for your reply.
I'm not problem about overfit, I just want to add predict valid set to watch real time accuracy.

[2018-05-19 05:13] emedvedev commented on #90
I'm afraid `aocr` doesn't have the functionality you're looking for, so you could either write a wrapper script on top or fork it and modify the code. If you end up with something that could be of use to other people, please submit a PR!

[2018-05-20 04:55] emedvedev commented on #89
Please let me know if you still have the same issue on a larger dataset starting from scratch (i.e. with the `checkpoints` dir removed). You could also try installing from pip through `pip install aocr`, but it's unlikely to give different results, since it's more or less the same version.

I'll try testing with a small dataset, too, but it's unlikely I can get to it until the end of the month, sa

[2018-05-23 11:36] alpexjava opened #91 "Invalid PNG data, size ###"
Environment:
Ubuntu 16,
GPU:  GTX 1060/6Mb
Tensorflow: v1.5
CuDNN 7.*
Cuda 9.1

1.  Datasets i've created and tried to train contain 120 000(small) - 15 000 000 (big) images(png)/labels.
2. tfrecords created succesfully
3. training comes up with the same error after a few hundred/thousand steps:
aocr train ./tfrecords/train.tfrecords steps-per-checkpoints=500 batch-size=512 --num-epoch=5 --max-pre

[2018-05-23 11:42] emedvedev commented on #91
Looks like some of the images in your dataset are corrupted, or at least TensorFlow can't read them. I don't think it has anything to do with your parameters, looks like the issue with the dataset itself.

What you can do is try and track down corrupt images by logging them when you encounter the "Invalid PNG data" exception. Or you can just ignore them, discard the corrupted batch and keep traini

[2018-05-23 13:02] alpexjava commented on #91
any idea where  can i find better place to grab tf exception to ignore and collect dodgy PNGs , please?

[2018-05-23 13:10] emedvedev commented on #91
Try catching it right where you're running a TF session: `model.py:461` (`outputs = self.sess.run(output_feed, input_feed)`)

[2018-05-23 13:13] alpexjava commented on #91
Ok,thx :)

[2018-05-24 13:09] alpexjava commented on #91
Yep ! - It helped me  to skip affected batches:
~line363:
            #result = self.step(batch, self.forward_only)
            result = None
            try:
                result = self.step(batch, self.forward_only)
            except:
                skipped_counter += 1
                logging.info("[INFO AP] Step {} failed, batch skipped. Total skipped: {}".format(current_step,  skipped_cou

[2018-05-24 13:15] emedvedev commented on #91
Would you mind submitting a PR? I imagine that could be useful for others, too.

Oh, and you could try `logging.error` instead of `logging.info` there for better log handling later :)

[2018-06-15 15:42] pokonski opened #93 "Usage with tensorflow_model_server"
Hi!

I have successfully trained and exported the model but failing to serve it via HTTP REST API (https://www.tensorflow.org/serving/api_rest)

I am guessing it's because of an invalid format of inputs or structure. The documentation suggests to encode binary files as base64. Using:

[code]

I know that the input name is `input_image_as_bytes`, but this results in a very cryptic error: "Bad strin

[2018-06-15 20:11] pokonski commented on #93
Closing as it was an issue with Postman not parsing the response correctly.

Proper payload should look like this:

[code]

[2018-06-15 20:11] #93 closed

[2018-06-15 20:16] emedvedev commented on #93
Glad you manage to resolve it! Sorry I couldn’t get back to you on time :)

I would really appreciate it if you could submit an example to the README, btw! Pretty sure other people would find it useful.
On Jun 15, 2018, 22:11 +0200, Piotr Okoński <notifications@github.com>, wrote:

[2018-06-15 20:17] pokonski commented on #93
@emedvedev will do! Actually have a different issue that could definitely use your expertise, I'll meanwhile prepare a PR to provide this example since REST API is very new.

[2018-06-15 20:19] pokonski opened #94 "Tensorflow Serving returns "Tensor name: probability has no shape information""
For given exported model:

[code]

Sending a following request to the serving REST API:

[code]

returns an error:

[code]

is it something that needs to be adjusted in the export function in aocr?

[2018-06-16 12:45] #91 closed

[2018-06-16 12:48] emedvedev commented on #94
Oh, that's interesting. I'll try to get to it during the weekend.

[2018-06-18 09:23] adityathakker commented on #89
Hey @TheRealBashkim!
I had the same problem before. Turns out, it was happening because all my images had a width greater than the **max_width** specified. That's why it was getting stuck in a While loop in the **gen** function in **data_gen.py**.

[2018-06-18 15:15] kulkarnivishal opened #96 "Can't understand the error: Premature end of JPEG data"
Hi,

I am trying to train the model on SynthText data MJSynth 90K. After successfully creating the tfrecords, I started training passing image max-prediction-length and max image width as Command Line Arguments. After about 10,000 steps the process breaks with premature end of JPEG data. Please help. This is the exact error:

2018-06-15 19:39:40,006 root  INFO     Step 10607: 0.288s, loss: 0.22011

[2018-06-19 18:14] kulkarnivishal commented on #96
Same error even if I change the number of channels to 3 (pass --color as CLI parameter)

[2018-06-20 03:41] kulkarnivishal commented on #96
Got it working, thanks.
For fear of running into another error I ran the code with 1 epoch, ran it 6 hours back and it's still not done. What is the ideal number of epochs I should run the code with? 1000 seems a lot.

[2018-06-20 03:45] emedvedev commented on #96
Run until you can get acceptable (whatever that means for your case) accuracy on the test dataset. It also depends a lot on the GPU — if yours isn't fast enough, try training in the cloud with something like Google ML Engine.
On Jun 20, 2018, 09:41 +0600, kulkarnivishal <notifications@github.com>, wrote:

[2018-06-20 03:46] kulkarnivishal commented on #96
Thank you, appreciate your help. I can close this issue now

[2018-06-21 11:20] lovebobo opened #97 "which paper of the implemation of the code is about ?"

[2018-06-21 12:51] #89 closed

[2018-06-22 09:04] lovebobo commented on #97
aha, I want to know the code of "attention-ocr" is about which paper.

[2018-06-22 10:59] emedvedev commented on #97
Ah! Well, it’s not “about a paper,” it’s meant for practical applications. However, it’s based (loosely at this point) on https://github.com/da03/Attention-OCR, so you could ask its authors the same question, because that model was created for academic research IIRC.
On Jun 22, 2018, 16:04 +0700, lovebobo <notifications@github.com>, wrote:

[2018-06-25 02:29] kulkarnivishal commented on #97
i think this: https://arxiv.org/abs/1609.04938v1

[2018-06-25 18:30] kulkarnivishal commented on #96
Hi @emedvedev

I don't think this issue is fixed yet. I tried training and testing on the master code. The code breaks when the it cannot identify image file (a lot of instances in Synth90k): IOError:
Here's the error:
Traceback (most recent call last):
  File "/home/ubuntu/anaconda3/envs/tensorflow_p27/bin/aocr", line 11, in <module>
    load_entry_point('aocr==0.7.4', 'console_scripts', 'aocr')(

[2018-06-27 05:15] emedvedev commented on #96
@kulkarnivishal ah, I see. That's a similar error, just in a different place. There's not much we can do aside from skipping when the image source is corrupt, but if you could submit a PR with graceful exception handling (like #92, but for `data_gen.py:70`), that would actually be super helpful.

[2018-06-27 06:29] kulkarnivishal commented on #96
Sure. Also, can you help me to use prediction on an image. For example: I wish to pass an image as a command line argument and get ocr for all the text? Any direction for how I can get this implemented would be great.

[2018-06-27 06:35] emedvedev commented on #96
`aocr predict` gets a list of filenames from stdin and runs prediction on each one. So something like `cat filenames.txt | aocr predict` should work for you, given the model is properly trained.

If by "all the text" you mean that there's a lot of different areas with text in your image, I would suggest running it through a text detection tool to isolate specific areas first, only then apply OCR.

[2018-06-27 06:38] kulkarnivishal commented on #96
Thanks for the reply but if I wish to implement it in a way that I feed the image directly, an image with just one word, any direction to how I go about it?

[2018-06-27 06:39] emedvedev commented on #96
That would be `echo "my-image.png" | aocr predict`

[2018-06-27 06:44] kulkarnivishal commented on #96
Awesome. That works for testing thanks. However, if I want to use it as a package within a python code where I read the image as numpy object and do ocr on that? This would work like: feed an image object and it would return a string. Something like tesseract python wrappers. Where can i start? I am sorry for the silly question. This would also be a good feature for aocr, I suppose

[2018-06-27 06:46] emedvedev commented on #96
Then you can just import the module and run `aocr` similarly to [how `predict` is run in `__main__.py`](https://github.com/emedvedev/attention-ocr/blob/master/aocr/__main__.py):

[code]

[2018-06-27 06:48] kulkarnivishal commented on #96
Wow, you've saved me a lot of time. Thank you so much.

[2018-06-27 06:52] #97 closed

[2018-06-27 06:53] emedvedev commented on #96
You're welcome! I'm going to close this issue, but do feel free to open a new one if you run into other problems, or submit a PR for better error handling in data_gen.py if you feel like working on it. That would be much appreciated!

[2018-06-27 06:53] #96 closed

[2018-06-28 16:55] Rayndell opened #98 "Can I change the image height?"
Hi,

Thank you for this project. I tried it on my own data to read only numbers in images and achieved really average results (65 % accuracy). Looking at your CNN model it seems you use an image height of only 32, which can be problematic for my data (there can be a large margin between the image boundaries and the actual text). So I tried it with an image height of 64 (by changing IMAGE_HEIGHT in

[2018-06-29 01:01] kulkarnivishal opened #99 "Sharing of tf.variables when two sessions are running."
Hi,
As per your suggestion I implemented a pipeline of text localization and ocr. However while creating a session for ocr, the session is sharing variables with the previous tf.session for text localization. Any workaround for this?

Best regards,
Vishal

P.S.
this is the log:
INFO:tensorflow:Restoring parameters from ./aocr_checkpoints/model.ckpt-227699
2018-06-29 00:35:24.685511: W tensorflow/c

[2018-06-29 13:17] emedvedev commented on #98
You might be able to change it, but as you've tested already, it won't be easy, because originally, the model just wasn't designed for recognizing more than a single unpadded line of text. You could try reducing margin by other means first — an object detection library like [yolo](https://pjreddie.com/darknet/yolo/) might help.

[2018-06-29 13:18] emedvedev commented on #98
Text detection in OpenCV 3.2 contrib might also help: https://docs.opencv.org/3.2.0/da/d56/group__text__detect.html

[2018-06-29 13:35] Rayndell commented on #98
Hi, thanks for your response.

Yes, I also thought about detecting the text box first. Actually I'm already using the object detection CNNs available with TensorFlow (RFCN and F-RCNN) that perform quite well, but I could try YOLO as well.

Also, thanks for your advice concerning text detection with OpenCV, I wasn't aware of this feature. Will definitely try it.

[2018-06-29 16:56] gammasts opened #100 "Dataset creation doesn't allow empty labels"
Looks like the change from https://github.com/emedvedev/attention-ocr/commit/0cfeacb945f78e810ebac587ab06a67e7da9d752 broke allowing empty labels due to the behavior of `.split(None, 1)`. The split consumes all whitespace in between non-whitespace characters, so having entries like below end up throwing an exception since the split only returns one value. Even with `\t` (the original behavior), it

[2018-06-29 16:59] emedvedev commented on #100
Ah, that makes sense. Would you mind submitting a PR for this?
On Jun 29, 2018, 23:56 +0700, gammasts <notifications@github.com>, wrote:

[2018-06-29 17:00] gammasts commented on #100
You're too quick in replying, was typing it up :)

[2018-07-01 09:15] #100 closed

[2018-07-05 14:16] Rayndell opened #102 "Trouble trying using the exported .pb frozen graph"
Hello,

I was wondering if you have already been able to test the exported .pb files (especially the frozen graph) within the C++ TensorFlow API?

In short, I recently developed some tools to use the typical TensorFlow exported frozen graph for classification problems and they work. I tried using them with the .pb file I exported with your provided tools, and kept producing 0 outputs (without cras

[2018-07-05 14:45] emedvedev commented on #102
I don’t have any insights right off the bat, so anything else you could try might help.

Have you tried the Saved Model? Does it work, or is there no result as well?
On Jul 5, 2018, 21:16 +0700, Rayndell <notifications@github.com>, wrote:

[2018-07-06 10:55] Rayndell commented on #102
Actually I tried to export the saved model, and freeze the graph with the standard TensorFlow "freeze_graph.py" tool: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/python/tools/freeze_graph.py

When this program tries to read the saved_model.pb file a reading error pops up (both in binary and text format, but the error is different). Here are the errors:

In binary format: google

[2018-07-06 12:50] Rayndell opened #103 "What is "target embedding size""
Hello again, I have a question regarding the parameter "target embedding size", I was not able to understand what it means exactly. Do we have a chance to improve the model by modifying this value?

[2018-07-09 14:50] Rayndell commented on #102
OK, some update here is needed. I was able to make things work.

Basically, I created my own Python script to export a .pb file with the input I needed (i.e. an already decoded image instead of a filename). I simply copied/pasted the code contained in model.py (the constructor of the Model class and the prepare_image method) and modified it to use it as a function instead of a class. This function

[2018-07-09 14:51] emedvedev commented on #102
Please do, that would actually be super useful. I'll look at the working
script and try to figure out what the difference is.

On July 9, 2018 at 16:50:44, Rayndell (notifications@github.com) wrote:

OK, some update here is needed. I was able to make things work.

Basically, I created my own Python script to export a .pb file with the
input I needed (i.e. an already decoded image instead of a file

[2018-07-09 14:56] Rayndell commented on #102
Here it is.

The interesting part is located between lines 214 and 236, where I create a placeholder for my data, pass it to the build_graph function with the model parameters, and create an output node for each of the prediction and probability nodes. Afterwards I serialize the graph def in a pretty standard way.

[export-graph.zip](https://github.com/emedvedev/attention-ocr/files/2176705/export-

[2018-07-23 01:08] kulkarnivishal opened #104 "Advantage to converting data to upper case?"
Hi @emedvedev,

Is there an advantage to force the dataset to uppercase rather than having separate classes for upper and lower case? I think that the accuracy is hurting for having to map two classes two one? I would train with no-force-uppercase but I have been training Synth90k with default parameters for over a month and wanted your advice before retraining.

Best regards,
Vishal

[2018-07-23 01:14] #98 closed

[2018-07-23 01:18] emedvedev commented on #104
It might turn out than no-force-uppercase would indeed be better than the default when in comes to Synth90k, but I can't predict by how much :)

Note that the fonts and distortions in Synth90k images are already varied enough that it's not quite as simple as "two classes" for uppercase and lowercase though. Even if you get improved accuracy, don't expect a very significant improvement. Wouldn't hu

[2018-07-23 01:21] kulkarnivishal commented on #104
Thank you so much. I will try training in google CloudML with multi-gpu.

[2018-07-23 09:42] emedvedev commented on #103
Yes, you can definitely try to fine-tune it (increasing the embedding size might give you better results in some cases). Here's a good explanation: [https://stackoverflow.com/questions/40784656/tf-contrib-layers-embed-sequence-is-for-what/44280918#44280918](https://stackoverflow.com/questions/40784656/tf-contrib-layers-embed-sequence-is-for-what/44280918#44280918).

[2018-07-23 09:42] #103 closed

[2018-07-26 18:09] kulkarnivishal commented on #104
Hi,

The code currently doesn't support training with multi-gpu, does it? Any direction to how I can get it implemented would be much appreciated.

Best regards,
Vishal

[2018-07-27 01:48] emedvedev commented on #104
It does not, and unfortunately I don't have any experience with multi-gpu training, so you're on your own. :)

I'm going to close this issue, because the original problem has been addressed, but feel free to open a new one if you run into problems with the codebase.

[2018-07-27 01:48] #104 closed

[2018-08-13 14:10] bidai541 opened #105 "Loss decreasing slowly while moving the GO flag out of ground truth."
I found that the GO flags have been remove while caculating the loss function, but why? In my experiments, the speed of convergency including the GO flags is faster.
May be a naive question, thanks.

-------------------------------------------------------------------------------------------------
UPDATE
It's wrong to include GO flag while caculating the seq2seq loss while decoder is decode the nex

[2018-08-13 14:46] emedvedev commented on #105
I honestly don't remember if there was a particular reason behind it, but please do try to experiment, and if you see better speed with the same result, submit a PR. :)

[2018-08-15 08:49] Yuyanzhen opened #106 "How to make a prediction in a program, what kind of form does the data set for predict need to be made?"

[2018-08-15 10:59] emedvedev commented on #106
I think README.md should cover everything you need to start. If you have more specific questions about the codebase, please don't hesitate to open new issues.

[2018-08-15 10:59] #106 closed

[2018-08-19 13:26] noob-ja commented on #66
hi @reidjohnson
isit possible for you to outline the steps to enable running on android?
currently it keeps giving me error

E/AndroidRuntime: FATAL EXCEPTION: Thread-5
                  Process: com.example.localuser.attention_ocr, PID: 17872
                  java.lang.IllegalArgumentException: No OpKernel was registered to support Op 'Switch' with these attrs.  Registered devices: [CPU], Regist

[2018-08-27 13:40] ShiyangZhang commented on #102
hi, @Rayndell
  follow your step, i got a wrong output  ['0000000', 0.5003086850925088] by the following code . not sure why. Do you have any suggestion?
  `from skimage import io, transform
import cv2
def recognize(jpg_path, pb_file_path):
    with tf.Graph().as_default():
        output_graph_def = tf.GraphDef()

        with open(pb_file_path, "rb") as f:
            output_graph_def.ParseFromS

[2018-08-28 09:08] Georgitanev opened #107 "I can't use it and run it."
I can't use it and run it.

[2018-08-28 12:15] #105 closed

[2018-08-28 12:16] emedvedev commented on #107
Well, that's very unfortunate, and I'm sorry you're having issues. However, without any details, there isn't much to go on, so please feel free to open more specific issues with log files and a full description of the steps you have tried first.

[2018-08-28 12:16] #107 closed

[2018-08-31 12:48] MariusMez opened #108 "Can't export trained model after using '--color' for training"
Hi,
I'm using attention-ocr and trained/export many models without using the args '--color'.
I try it for a new model which trained very well, but now I have a checkpoint but can't save it to a SavedModel nor a Freeze Graph with the export command.

Here is the error output:
[code]

Seems related to the color Channel, but after looking inside the source code I didn't find the part where something

[2018-09-04 14:52] MariusMez commented on #108
Hi again,
Same kind of error when using GRU cells with `--use-gru`

[code]

[2018-09-04 14:55] emedvedev commented on #108
Hi there! Can you also provide the full CLI commands that you're using while training and exporting models?

[2018-09-04 16:41] MariusMez commented on #108
Oh Yeah seems legit, it's now working thanks to you. My mistake, I've only read the README and didn't check optional parameters with `aocr export --help.`

Just to share, I train a model with a "small" dataset of 150 000 pics, and using GRU Cells, the trained model perform very much better than with using LSTM.  (more than 15% gain for global accuracy).

You can close the issue, thanks :-)

[2018-09-04 16:42] emedvedev commented on #108
Oh, that's a great report to have, thank you!

[2018-09-04 16:42] #108 closed

[2018-09-07 03:18] SANDAFERNANDO opened #109 "Hi Can I use this code for English letter recognition in an image for different fonts and different font sizes. Can you plz help me. Thanks"

[2018-09-07 07:10] emedvedev commented on #109
You certainly can, but you have to train your model on a similar dataset first. If you're not sure about how that works, use an OCR engine such as [Tesseract](https://pypi.org/project/pytesseract/) instead.

[2018-09-07 07:10] #109 closed

[2018-09-08 21:34] pokonski commented on #94
Hey @xvonabar, I just wrote a simple API in python myself instead of using Serving.

[2018-09-09 15:26] kulkarnivishal opened #110 "ValueError: '\xe2' is not in list error when i try to train with color parameter"
Hi @emedvedev

I get this error after a first few steps when I train with --color parameter (set channels to 3). Could you please help?
Please find the error log below:
![image](https://user-images.githubusercontent.com/36867201/45266055-f866eb80-b409-11e8-992c-714e0b361332.png)

[2018-09-09 15:43] emedvedev commented on #110
This error means that your image labels have a character that's not in the model charmap. Check your labels, because by default the supported charset is numbers + uppercase only: https://github.com/emedvedev/attention-ocr/blob/7bb17af211de60e0fff5d56925f73d9018def744/aocr/util/data_gen.py#L23.

[2018-09-09 16:06] kulkarnivishal commented on #110
Thank you for the prompt response. I used --full-ascii and --no-force-uppercase flags as well, I assumed --full-ascii covers all characters. Am I missing something?

[2018-09-09 16:07] emedvedev commented on #110
`--full-ascii` covers the ASCII range (uppercase, lowercase, symbols, etc.). There's no flag for covering the entire Unicode range, and you'd have to manually modify the CHARMAP (at the line I've mentioned before). Not sure about the performance in that case though—you might have to consider modifying the dataset labels unless Unicode plays significant part in it.

[2018-09-10 11:51] xvonabur commented on #94
@pokonski Can you open source it? Or give me some hints how to implement it myself? Unfortunately I do not know python at all, so I'm stuck for now.

[2018-09-10 12:05] pokonski commented on #94
@xvonabur sure, I'll try to prepare a open-sourcable version since it currently contains work-related code.

[2018-09-11 18:19] pokonski commented on #94
@xvonabur I've prepared a simple working server here: https://github.com/pokonski/attention-ocr-api

[2018-09-12 11:41] xvonabur commented on #94
@pokonski Thanks! I've managed to run it on Debian. I would like to use it in production, but saw your warning and now I'm curious what drawbacks has your solution?

[2018-09-12 11:43] pokonski commented on #94
It starts in a development mode by default which is slower and it probably doesn't handle thousands of requests well, but I guess that depends on the traffic you expect :)

[2018-09-12 13:23] biznizb opened #111 "bucketdata.py flush_out NotImplementedError"
Hi @emedvedev

I'm running into a NotImplementedError here around step 240 when using tensorflow-gpu. I haven't seen this when using my cpu.

Do you have any tips on what's going on in the code here or what I need to do to fix it?

[code]

[2018-09-13 03:20] #111 closed, assigned to nobody

[2018-09-18 23:27] kulkarnivishal commented on #110
thank you for the reply. I am able to train the model. However, I now see a very weird issue. I added synthetic images (generated using GANs) to the training data, and few cropped COCO images. So about 1M synthetic images and Synth90k and about 60k coco images. The training loss is improving but when I test the model for prediction, it performs very poorly. It just prints "cccc" or "aaaaa" etc.
Am

[2018-09-19 01:17] btchncamaro commented on #94
I get the error as well.  I am using the tensorflow/serving docker image.  Has anybody found a way to export the model that is compatible with tensorflow/serving?

{ "error": "Tensor name: probability has no shape information " }

[2018-09-26 11:39] trananhdung17 opened #112 "Training progress stop at step 0 unexpectedly"
I have an issue when tried to train my dataset. Training progress stop at step 0 without any kill-signal.
aocr version is 0.7.5
Tensorflow version is 1.8
OS Ubuntu 16.04
The command i ran:
[code]

and tried some:
[code]
got same results.

Here is console log:
![aocr_issue](https://user-images.githubusercontent.com/10810900/46076990-7e7c8380-c1b9-11e8-8306-02dc30cd6ccb.JPG)

[2018-09-26 11:41] emedvedev commented on #112
It usually means that your dataset wasn't enough to make even a single step: maybe it was too small, maybe all the images were skipped, etc. I would look at that direction.

[2018-09-26 11:56] trananhdung17 commented on #112
My dataset contain 26 x 400 image (400 png file for A -> Z Latin character) with size 278x278 for each image.
Could you advise me about parameters for training with my dataset.
Or if my dataset is not enough, pls let me know recommended dataset size.
Thank you so much!

[2018-09-26 11:59] emedvedev commented on #112
Unfortunately, I don't have any time to advise on datasets, so this issue tracker is limited to bugs and issues in code only.

I would recommend you to debug the `step` method and see why it doesn't do any actual training. My best bet is that something in your dataset is causing all images to be skipped.

[2018-10-29 03:14] lmolhw5252 opened #113 "How can i fine-tune saved model with different lr?"
Some layers with small lr,and others with big lr?

[2018-10-31 16:33] aosetrov commented on #110
Hi @kulkarnivishal ,
Did you manage to solve this problem?
If yes, please share a hint)

[2018-11-04 13:13] MariusMez commented on #94
Hi,

Since months I'm stuck on the same problem using the curl command provided as exemple.
But today I tried to understand why this error { "error": "Tensor name: probability has no shape information " } occur with the documentation here: https://www.tensorflow.org/serving/api_rest and I found an answer using these curl command instead:

[code]

Yeah! I've the correct output:
[code]

I dont' know

[2018-11-05 08:57] emedvedev commented on #113
I don't think the current codebase would actually allow it. If you end up solving it, feel free to submit a PR though!

[2018-11-05 08:57] #113 closed

[2018-11-05 08:58] emedvedev commented on #94
@MariusMez oh, that's amazing! Thank you so much, I didn't have time to actually get around to this issue. Would you mind updating the README? It would be much appreciated :)

[2018-11-05 08:59] pokonski commented on #94
That is awesome :heart: @MariusMez

[2018-11-05 15:29] MariusMez commented on #28
@emedveded Any ideas on how to do this ?

I could try to work on it because I need this functionality but I have first to understand precisely how the prediction is done

[2018-11-05 16:01] #94 closed

[2018-11-07 15:19] ATS-Official opened #115 "Implement aocr on a limited data"
I am trying to implement aocr for digital multimeter readings and the image will be taken in a unconstrained env and needed attention based OCR. I dont have the luxury of a large dataset and trying to play around with available data and not able to get desired accuracy.
Few questions could you please answer;
1. During training with input data is there a parameters option to use pre-trained models

[2018-11-08 14:09] troycheng opened #116 ""Batched output tensor has 0 dimensions" problem when post only one image with '--enable_batching=true'"
At first Thanks for sharing this project.

Follow the instruction I successfully set up the tensorflow_model_server and tried to post one or more images in the same request,  it worked well as follows

**REQ1**: request only one image at a time
[code]
**REQ2**: request more than one image at a time
[code]

However, when I trying the same requests with '--enable_batching=true',  REQ1 returns an `Ba

[2018-11-08 15:39] MariusMez commented on #116
Hi,

It seem's more related to TF Serving than attention-ocr.

You can read my last comment here: https://github.com/emedvedev/attention-ocr/issues/94#issuecomment-435668522

--> I don't understand well the differences between the two options explained in the [tensorflow serving documentation](https://www.tensorflow.org/serving/api_rest) about how specifying input tensors in row or column format.

[2018-11-09 08:57] troycheng commented on #116
Thanks, @MariusMez.  I tried in row format and the result is, REQ2 can work with or without batching, while REQ1 failed in both modes.

**REQ1:**
[code]

**REQ2:**
[code]

It seems the row or column format is just the way to organize the input data and can work in both modes when posting multiple images. Posting one image will cause some dimension problem. It should be tf-serving's problem

[2018-11-16 14:03] emedvedev commented on #115
1. You can't use inception (or any other pre-trained models), because aocr isn't just a tool, it's also a model.
2. There's a `--model-dir` parameter which defaults to `./checkpoints`. You can specify any other directory, of course.

[2018-11-16 14:03] #115 closed

[2018-11-16 16:50] kulkarnivishal commented on #110
Not really. Although, I continued the training for 3 more weeks and results look better, not that great though. The main issue I am facing is predicting symbols. No matter how I train the inference seems to be getting it always wrong.

[2018-11-16 19:37] aosetrov commented on #110
You can try to manually change the dictionary instead of using keys. At the same time I have no idea how you managed to add a non-ASCII labeled targets to the train-set .tfrecords file. When I tried to do this it used to throw an error of encoding all the time(

[2018-11-16 20:06] kulkarnivishal commented on #110
you mean manually adding symbols instead of using full-ascii flag?
And I used python's string.printable to filter non-ascii characters

[2018-11-19 11:07] kamalkarki opened #117 "checkpoint reuse"

[2018-11-19 11:08] kamalkarki opened #118 "retraining with saved checkpoint"

[2018-11-19 11:08] kamalkarki opened #119 "retraining with saved check point"

[2018-11-19 11:09] #119 closed

[2018-11-19 11:10] #118 closed

[2018-11-19 11:11] #117 closed

[2018-11-20 03:02] kulkarnivishal commented on #96
Hi, Is there a way I can read the image in opencv instead of PIL Image.open(IO(img))? This is referring to reading the image in data_gen.py

[2018-11-20 12:51] kamalkarki opened #120 "prediction"

[2018-11-20 12:51] #120 closed

[2018-11-20 19:36] kulkarnivishal opened #121 "Missing test on over 500 images, help!"
Hi @emedvedev

I have 2534 images in total for testing, and while inspecting the generated tfrecords I could see 2534 images as well
![image](https://user-images.githubusercontent.com/36867201/48797846-22654580-ecb8-11e8-8612-b2ce9014e6f3.png)

But when I test these images the, code logs only 1980 steps. I checked whether any images are being skipped in data_gen.py but that is not that case either

[2018-11-23 13:58] docastage commented on #121
The default max-width is 160. You might have to include max-width and max-height parameters in order to include all the images. I faced the same issue and adding these two parameters solved it.

[2018-11-24 12:18] emedvedev commented on #96
You could probably use `cv2.imdecode` instead of `Image.open` and then use `.shape` to determine the size. Any particular reason you'd want to do that?

[2018-11-24 12:30] #116 closed

[2018-11-24 12:30] emedvedev commented on #116
Closing the issue, as it really is the problem of TF Serving. Nothing I can do here, sadly.

[2018-11-28 13:28] docastage opened #122 "visualize does not work with 0.7.5"
Hello,
       I have installed aocr 0.7.5 which has the visualizations.py. But I do not see visualize working for my test data. Test is working fine and I can see the accuracy. I also don't find any images getting stored in results folder. Anyone has experienced this before?Please help.

[2018-11-28 13:29] emedvedev commented on #122
Did you use the `--visualize` flag? What's the full command you use for testing, and what's its output?

[2018-11-28 13:33] docastage commented on #122
command:
aocr test --visualize /home/atana/FID-crop-grayscale.tfrecords --max-prediction=35 --full-ascii --use-gru --max-width=500 --max-height=100

Output:
2018-11-28 12:00:16.473767: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA
2018-11-28 12:00:16.723369: I tensorflow/core/common_runtime/gpu/gpu_

[2018-11-28 13:41] emedvedev commented on #122
The images should be stored in the `out` folder: is it completely empty? See https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L334-L344.

[2018-11-28 15:06] docastage commented on #122
Yeah. Thank you.I can see the images as .gif files. Why have you written that "you can visualize the attention results during testing (saved to results/ by default)"? Any specific reason?

[2018-11-28 15:08] emedvedev commented on #122
Good catch, the README just hasn't been updated together with the visualization code. Fixed it, now it correctly points to `out/`. :)
Thanks a lot!

[2018-11-28 15:08] #122 closed

[2018-12-06 07:34] kamalkarki commented on #53
@feygina
I am also struck here to improve the accuracy as I am working on the scanned documents for the text retrieval. I have also tried " tesseract " and some other tools.
Can you suggest anything in which direction to think/explore?

[2018-12-11 18:49] kulkarnivishal commented on #121
Thank you, I figured it out. Well, ideally shouldn't the image be resized to max-height * max-width as a pre-processing step? I have noticed that there's no proper logging in data_gen.py as well.

[2018-12-11 18:56] kulkarnivishal commented on #79
Don't think your interpretation of accuracy is right. Since replacements are also counted in Levenshtein distance, if 9 predicted characters are not correct with respect to position, it would give 0%. For example with distance accuracy for "have" and "evah" would be 0%

[2018-12-29 20:03] mllearner96 opened #123 "Prediction repeats character"
Thank you very much for the brilliant package. As you can see in the following text output and image, characters are predicted twice. Beside this problem, the prediction seems to be very accurate. My training data includes around 3000 images. Is the training data too small or do I need to tune something?

[code]
![image](https://user-images.githubusercontent.com/46249200/50541746-08caee00-0bd4-11e

[2019-01-04 07:22] emedvedev commented on #123
I don't think the training dataset is too small, but you may need more training epochs or indeed some hyperparameter tuning. Unfortunately, I don't have the capacity to debug training/dataset issues, unless it's a problem with the codebase, but wish you best of luck! Looks like you're pretty close :)

[2019-01-04 07:22] #123 closed

[2019-01-17 00:51] #121 closed

[2019-01-17 00:52] #110 closed

[2019-01-17 00:52] #112 closed

[2019-03-08 11:20] kspook opened #124 "when I tried to run 'test', i got the same message and couln't get proper result"
even though I changed the python script, the result was the same.
it seems that aocr runs independently from  python script.

did you make 'aocr' with wheel, didn't you?
how can I change code?

![image](https://user-images.githubusercontent.com/36400753/54025930-6e90b300-41df-11e9-8167-6ead6b0909b7.png)

[2019-03-14 08:08] roger12337 opened #125 "training parameter on Synth 90k"
What is the optimal training parameters for Synth 90k? When does it converge?

[2019-03-18 00:47] kspook commented on #124
I run as follows
python ./aocr/__main__.py test dataset/testing.tfrecords

to do this, i ommit  '.' from import line

[2019-03-18 00:47] #124 closed

[2019-03-18 03:42] kspook opened #126 "Korean training (tensorflow serving included)"
I got below message when I tried 'test'.

I changed several things;
1.'iso-8859-1'  to 'utf-8'
2. add two Korean Character in data_gen.py
   CHARMAP = ['', '', ''] + list('0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ신한')
3.    in the bucketdata.py :
     raise  NotImplementedError -->  omit  and   add 3 lines
     (other wise the program exit with 'NotImplementedError')
       else:
                #raise

[2019-03-18 08:35] kspook commented on #126
it's related with no.11.

but in my case, it is not prediction length. T.T

[2019-03-19 05:36] emedvedev commented on #126
Do you have the output from training the model as well? Does it converge on training at all? The error is a bit strange, since testing should (almost) always work if training worked, unless you've modified something between training and testing.

[2019-03-19 05:38] emedvedev commented on #125
[The defaults](https://github.com/emedvedev/attention-ocr/blob/master/aocr/defaults.py) are fairly optimal, except you might want to increase the batch size (to something like 20) and decrease the number of epochs.

Make sure you adjust `max-width`, `max-height`, and `max-prediction`, too.

[2019-03-19 05:38] #125 closed

[2019-03-19 07:46] kspook commented on #126
As per raise NotImplementedError (#11), I fixed.  The script handles the output data as corrupted data with long digit. So, I changed prediction_length more than 8.

As per utf-8 (#52), I followed the your mention in the every step. So, it looks fine except one thing;
in case of number, it product 51, 52 like unicode number (' ord( )')
in case of Korean character, it product 9 digit number.
I am i

[2019-03-20 02:27] kspook commented on #126
I think I have Unicode problem I have #52

in the dataset, I changed like below.
            label=''.join(map(str,label.encode('utf-8')))
            feature = {}
            feature['image'] = _bytes_feature(img)
            #feature['label'] = _bytes_feature(b(label))
            feature['label'] = _bytes_feature(b(label))

Otherwise, I have below error. T.T
Traceback (most recent call last):

[2019-03-20 04:03] emedvedev commented on #126
Ah, that actually makes sense. Please submit a PR once you get the model working—I'm sure quite a lot of people will appreciate it! I'd be happy to merge and help with any modifications, if needed.

[2019-03-20 13:40] roger12337 opened #127 "Parameters are changed when testing"
Don't know whether you have faced similar situation. After I have trained model (perplexity = 1.1), I do some testing on other images. After I continue to train the model with the same data, parameters are quite different and has perplexity of 5. Does anyone know why this occurs?

[2019-03-21 02:26] roger12337 commented on #127
I explore a little more. The performance of the model is consistent when both training and testing data has same max-width and max-height.

[2019-03-21 04:01] kspook commented on #126
ord('신') = 4988, but I have 236139160
label.decode('utf-8') = b'236139160'
So I can't get final data = '신'

I am stucked here T.T

[2019-03-21 06:40] emedvedev commented on #127
That would make sense. Good accuracy with images of different sizes would require a large and extensive dataset, and if your testing data has image sizes that are completely different from training, you won't see good results.

I'll close the issue for now, but if there's any issues with the model itself, do let me know!

[2019-03-21 06:40] #127 closed

[2019-03-21 09:39] emedvedev commented on #126
236/139/160 are the UTF-8 codepoints for 신 in decimal. :)

[code]

The fact they're all glued together might be an issue though, but I'm not sure how to address that with minimal changes off the top of my head.

[2019-03-21 22:28] kspook commented on #126
I solved. Don't worry ^^

[2019-03-22 11:27] kspook commented on #126
I en/decode Unicode.
But output (prediction) returns Korean outside of CHARMAP.
what's the problem?

I changed in the dataset.py
            for c in label:
                print(c, ord(c))
            label= [ord(str(c)) for c in label ]
            label=''.join(map(str,label))

            feature = {}
            feature['image'] = _bytes_feature(img)
            feature['label'] = _bytes_feat

[2019-03-23 23:11] kspook commented on #126
I solved above problem by changing Unicode char to number. but the inference returns wrong output.

            for c in label:
                print(c, ord(c))
            label= [ord(str(c)) for c in label ]
            label=''.join(map(str,label))

            feature = {}
            feature['image'] = _bytes_feature(img)
            feature['label'] = _bytes_feature(b(label))

[2019-03-25 01:11] kspook commented on #126
I think I've done Korean Recognition.
Unfortunately, it's less accuracy than the original one,
https://github.com/da03/Attention-OCR/issues/48#issuecomment-461024202.

How can I request PR to you?

(py36) D:\attention-ocr_b2>python aocr34/__main__.py test dataset34/testingk.tfrecords
2019-03-25 10:07:02.931286: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions tha

[2019-03-25 02:11] kspook commented on #126
In addition, curl -X POST \ http://localhost:9001/v1/models/yourmodelname:predict  -H 'cache-control: no-cache'   -H 'content-type: application/json'  -d '{ "signature_name": "serving_default", "inputs": {  	"input": { "b64": "/9j/4AAQ==" }  }}'

what should I type for "yourmodelname"?

[2019-03-27 05:16] pp3993 opened #128 "time taken for ocr is too long"
Hi,
Thanks for the repo, i used this toolkit for the ocr of my own data(size of one of the image is 143*37) and the time taken for the ocr of jpg image is 8 secs. Moreover, if i run this on full image this gonna take to much time. while on tfrecords of the images this took around 0.05 secs. only

the script used for the ocr is :
frozen_model_filename = "/path/to/model/exported-model/frozen_graph.p

[2019-03-27 05:25] emedvedev commented on #128
Most likely it's the Tensorflow launch and the model import that's taking so long, not the OCR process itself. Ideally, you'd run the predictions as a service, not as a script, so that the initialization only happens once. 8 seconds is certainly a lot of time though, so you might want to time different steps and see if there's something you could optimize.

[2019-03-27 05:45] pp3993 commented on #128
Hi,
thanks for the quick reply. the time taken for OCR process itself is so long. not the model import.

start=time.time()
(y_out, probs_output) = sess.run([y,allProbs], feed_dict={
            x: [img]
        })
end=time.time()
print(y_out)
print('time',end-start)

time 6.485961437225342

[2019-03-27 05:50] emedvedev commented on #128
If you run the same prediction twice in a row, would the first time be any different from the second?
On Mar 27, 2019, 12:45 +0700, pp3993 <notifications@github.com>, wrote:

[2019-03-27 06:10] pp3993 commented on #128
yeah, for the first run it took long time while for the second time just 0.07 secs only.
thanks.

[2019-03-27 06:22] #128 closed

[2019-03-27 07:34] kspook commented on #126
no response?

as per this, https://github.com/emedvedev/attention-ocr/issues/126#issuecomment-474676226

here is below result. as my comment, https://github.com/da03/Attention-OCR/issues/48#issuecomment-473734050,  there is the result beyond training character.

To solve this, i made an index and trained at the original one, da03/Attention-OCR#48
So, in your source, I succeeded in character based

[2019-03-28 02:46] emedvedev commented on #126
It's true that this model is mostly optimized for character-based recognition, not word-based. You can, as you said, modify it to give words their own indices instead of characters, although I'm not sure if the performance will be acceptable in that case, and you'll need a massive dataset, too. Doesn't hurt to experiment though. :)

[2019-03-28 04:52] kspook commented on #126
providing index of word is almost impossible.
There is no chance if you change the original code, da03/Attention-OCR#48 (comment)?
In the original, I  succeeded word recognition.

Anyway what do I put "yourmodel" in your code, https://github.com/emedvedev/attention-ocr/issues/126#issuecomment-476030850

[2019-03-29 07:41] kspook commented on #126
can you answer to me???
please.
=========
In addition, curl -X POST \ http://localhost:9001/v1/models/yourmodelname:predict -H 'cache-control: no-cache' -H 'content-type: application/json' -d '{ "signature_name": "serving_default", "inputs": { "input": { "b64": "/9j/4AAQ==" } }}'

what should I type for "yourmodelname"?

[2019-03-29 09:45] emedvedev commented on #126
You just put `aocr`.

Please don't post repeated requests: all support in this (and other) open source projects is done on volunteering basis, whenever people have time and capacity to respond. Kindly be prepared to do your own research: in this case, there are other issues in this repository that concern POST requests to the API, and they have correct URLs which you could just look at.

[2019-04-03 11:59] kspook commented on #126
I finally succeeded in tensorflow serving with below link.
why don't you change README.md file?

https://github.com/emedvedev/attention-ocr/issues/94#issuecomment-435668522

[2019-04-03 16:58] emedvedev commented on #126
Please submit a pull request to README.md with the changes that have worked
for you! That would be really great, if you have the time, of course.

On April 3, 2019 at 13:59:53, kspook (notifications@github.com) wrote:

I finally succeeded in tensorflow serving with below link.
why don't you change README.md file?

#94 (comment)
<https://github.com/emedvedev/attention-ocr/issues/94#issuecomment-435

[2019-04-04 13:07] pp3993 opened #129 "ocr prediction is too bad, model converge fast"
Hi
I have trained the model on 40,000 synthetic images generated [from](https://github.com/Belval/TextRecognitionDataGenerator).
here is the modify CHARMAP:
CHARMAP = ['', '', ''] + ['-', 's', 'W', 'd', '.', 'Q', '[', '°', 'y', 'O', '©', 'Y', 'b', '/', '9', "'", 'H', 'V', 'z', ',', 'g', 'm', 'u', 'j', '>', 'S', 'c', ')', '@', 'k', 'q', '%', ':', 'L', 'o', 'E', '`', 'F', '$', '\\', '?', 'e', '¢', '

[2019-04-12 03:49] Harmonicahappy commented on #86
I think you might have written a bug. In your test mode, you use `def step(self, batch, forward_only)` function, so decoder_inputs will be filled with ground truth labels, but the decoder should use its softmax output at time T-1 as its decoder_inputs at time T in inference mode.

[2019-04-12 03:58] pp3993 commented on #129
Hey
I tried this again but no change in the prediction. Can you help ? please

[2019-04-12 09:12] emedvedev commented on #86
Oh, thanks for the report. Could you try implementing it on your local copy and submit a PR if you manage to improve the result / fix the problem? I’d really appreciate it!
On Apr 11, 2019, 20:49 -0700, Terence Wu <notifications@github.com>, wrote:

[2019-04-12 09:43] emedvedev commented on #129
Hi! I cannot help with the training, unless there's an actual error with the code. There's too much variables involved, both with your parameters and your dataset, and I just can't get too deep into it, sadly.

I'm going to close the issue, but if you find something in the code or the model itself that causes poor results, please feel free to report it.

[2019-04-12 09:43] #129 closed

[2019-04-13 02:49] Harmonicahappy commented on #86
Sure, I will try to fix it in about 2 weeks because I am still not clear about some details.

[2019-04-13 09:38] Harmonicahappy opened #131 "decoder_inputs' first element is not matched with GO flag's index"
First of all, you define `GO` flag's index as 1 in `data_gen.py`:
[code]
Second,  `decoder_inputs` will be filled with value 0 in `model.py`:
[code]
In train mode, it is ok because `decoder_inputs` will be filled with ground truth labels, but in predict mode, first element of `decoder_inputs` will be 0, and it is not the correct index for `GO` flag. Am I right？

[2019-04-15 07:40] kspook commented on #126
I tried to train Korean words again.
For example,  '신','한'  was converted '853863'.
that is, 85('신')+3+86('한')+3
FIY, I omit 1,2,3 for index of all input.
Later, I put serial index (0-40) for training of charaters in the word
If I put 36+3 as index of '신', 37+3 as '한'  --> [1, 39, 41, 2 ],
I could trained well.

However, output was just returned '한'.

Is there any good idea to get word output?

20

[2019-04-16 00:54] kspook commented on #126
I tried to train Korean words again.
For example, '신','한' was converted '853863'.
that is, 85('신')+3+86('한')+3
FYI, I omitted 1,2,3 for index of all input.
Later, I put serial index (0-40) for training of characters in the word
If I put 36+3 as index of '신', 37+3 as '한' --> [1, 39, 40, 2 ],
I could trained well.

Finally I succeeded in word recognition.
Thank you for sharing your knowledge. ^^

**

[2019-04-17 03:04] emedvedev commented on #131
Fixed in https://github.com/emedvedev/attention-ocr/pull/132

[2019-04-17 03:04] #131 closed

[2019-04-17 03:04] emedvedev commented on #86
Fixed in https://github.com/emedvedev/attention-ocr/pull/132

[2019-04-17 03:04] #86 closed

[2019-04-18 01:13] kspook commented on #131
In my case, I didn't use CHARMAP.   I omit ['','',''] in the CHARMAP.
So, new code provides low accuracy. But old code provides good accuracy

1. result of new code
(py36) D:\attention-ocr_b36uwi>python aocr36 test dataset/testingwk.tfrecords
2019-04-17 16:28:37.505456: I tensorflow/core/platform/cpu_feature_guard.cc:141] Your CPU supports instructions that this TensorFlow binary was not compiled

[2019-04-21 10:00] emedvedev commented on #126
Awesome, glad it's working for you! I'm going to close the issue since you've succeeded, but please feel free to open another one (or write right here) if you encounter other problems. Happy to help!

[2019-04-21 10:00] #126 closed

[2019-05-21 12:32] gnostis opened #133 "Tune the code for specific data"
My input is formatted codes where first letter is always lowercase and 5 digits after:
a00000
Is it possible to limit recognition for overall better efficiency?
By default I can only use --max-prediction to limit length. But my goal is to set it to exact length and format. Could you point me right way how to better achieve this?

[2019-05-21 12:47] emedvedev commented on #133
Not without significant changes to the model and the code, I’m afraid, and the accuracy gain may not be worth it. In my experience, the model works quite well with images of the same format (e.g. captcha) when properly trained as it is.

Do you actually see poor performance, or is it mostly a hypothetical question? Some hyperparameter tuning or a better dataset could be enough to improve accuracy

[2019-05-21 13:13] gnostis commented on #133
The results are good, only about 2% misses. All samples are quite noisy. Although these errors occur on quite simple copies.  I tried to double the data set to 40,000, but it gave a much worse result. Perhaps there is bad input data.  Therefore, I wanted to consider all possible options to influence the result because it's critical. I'll try to play with the hyperparameters and maybe preprocessing

[2019-05-23 17:32] gnostis commented on #133
During testing of the model after each checkpoint, I noticed that the model was learning characters in alphabetical order.  I mean, first, the model "knows" only the number 1 and recognizes all the examples as 111111, then the letter A is added, and we have something like A11A11, then B is added, and so on.  Is this how it should be?  I thought that if we randomly chose a batch, then all letters w

[2019-05-28 06:29] emedvedev commented on #133
About the larger dataset: it could be that you're overtraining: too many epochs, wrong hyperparameters, the testing dataset is significantly different from your training dataset and the model is unable to generalize, etc. Sadly, I can't help there, as it requires working with the specific dataset, and the model is unlikely to be at fault here.

About the order: during the first few steps, it simpl

[2019-06-01 13:51] louis030195 opened #134 "Predictions broken ?"
i've trained aocr on synth90k dataset (default hyperparams), it reached 82% accuracy on test set, then tried to predict some images from the synth90k dataset

`!aocr predict --model-dir /content/exported-model`

![image](https://user-images.githubusercontent.com/25003283/58749314-d5db9d80-8484-11e9-9cd0-4d6cab3cc174.png)

Is it supposed to works ?
Also tried with other dataset nothing better ...

[2019-06-07 13:24] kspook opened #135 "defferent output at exported model"
@emedvedev, in my case, it doesn't work when I run exported model. T.T
Do you have solution?

[2019-06-08 05:46] emedvedev commented on #135
There's not much to go on, so could you maybe provide more information? I may not be able to help, since it's your own fork with significant changes, but maybe someone else would take a look.

Does your Korean fork include the latest master changes? What's the correct fork/branch to look at? How exactly are you exporting the model? Do you have different results _for the exact same image_ with `pre

[2019-06-08 05:48] emedvedev commented on #134
It's supposed to work, and 82% accuracy on synth90k is actually pretty low. Could you also include training/testing logs and the exact commends you use for training and testing, too? I may not have time to take a look right away, but that would help in any case.

[2019-06-08 06:18] louis030195 commented on #134
Training
`aocr train --initial-learning-rate=1 training.tfrecords`

Sample log

2019-06-07 23:19:19,409 root  INFO     Step 25293: 0.214s, loss: 0.368399, perplexity: 1.445419.
2019-06-07 23:19:19,636 root  INFO     Step 25294: 0.211s, loss: 0.303288, perplexity: 1.354305.
2019-06-07 23:19:19,861 root  INFO     Step 25295: 0.213s, loss: 0.395718, perplexity: 1.485451.
2019-06-07 23:19:20,080 root

[2019-06-08 12:49] kspook commented on #135
thank you for your response.

my information as belows;
https://github.com/kspook/aocrKR.git
checkpoint: https://drive.google.com/open?id=1tPHoE1gK-AUjYBqbSCFbSc6lRnBh7WI5
model :

[2019-06-08 13:22] kspook commented on #135
In addition to test 1.jpeg the above posting, I will continue for 'shin'
it shows the same result.

1. for test
2019-06-08 13:17:19,422 root  INFO     Step 6 (0.095s). Accuracy: 16.67%, loss: 3.153957, perplexity: 23.4286, probability: 91.60%   0% (T vs 신)

2. predict
(py37) kspook@ml004:~/aocrKR$ python aocr36/__main__.py predict dataset/test-img3/shin.jpeg
2019-06-08 13:18:12.320031: I tensorflo

[2019-06-10 06:35] emedvedev commented on #134
Is the result different when you run `aocr test` on the dataset containing only the image you're running `predict` on? If yes, are you running the latest master (https://github.com/emedvedev/attention-ocr/pull/132)?

[2019-06-10 06:37] emedvedev commented on #135
I'm going to leave this issue open for a while in case someone wants to jump in, but as I've mentioned, I don't have the capacity to debug forks, unfortunately. Hopefully someone will be able to help or you'll be able to figure it out :)

[2019-06-10 11:35] kspook commented on #135
@emedvedev , for your information, the exported model can't return Korean when I use 'stdin' in predict() at __main__.py to get image file.

Now I can't get number well when I changed argument style to get image.

[2019-06-13 10:03] Luukjn opened #136 "convert exported model to tensorflow lite?"
Hello,

I'm trying to run the exported model on a mobile device. After some research I found Tensorflow Lite.
Is there a way to convert the exported model to Tensorflow Lite? If there is, how would I go about doing just that?

[2019-06-14 14:04] Luukjn commented on #136
I have some more information on this issue now.
I ran the following command:
[code]
and I got the following output:
[code]
I'm trying to run the conversion on Windows 10 using tf-nightly.

[2019-06-17 10:03] emedvedev commented on #136
The Python API for the converter doesn't work with frozen graphs from TF 1.0, and I guess it might be the case with `tflite_convert`, too. Try exporting as SavedModel instead of a frozen graph, and then run `tflite_convert` on the generated directory.

You could also expand the `export` function yourself and use the [tf.lite.TFLiteConverter Python API](https://www.tensorflow.org/lite/r2/convert/py

[2019-06-17 10:19] Luukjn commented on #136
@emedvedev Alas I can't use the saved_model since my requirments are that the model must run on the new Edge TPU. And the TPU does not support dynamic sizes. (https://coral.withgoogle.com/docs/edgetpu/models-intro/)
I don't really know what would be required to create a model that meets the requirements for the TPU.

[2019-06-17 10:26] emedvedev commented on #136
Not entirely sure how a SavedModel would be different from the frozen graph of the same model for conversion purposes, so can’t advise there.

If you’re sure that SavedModel is out, it seems like your best bet would be extending the code in the `export` method and use the Python API for conversion.
On Jun 17, 2019, 17:19 +0700, Luukjn <notifications@github.com>, wrote:

[2019-06-19 23:58] benschreiber opened #138 "Exported model inconsistent"
I am attempting to convert this model to ONNX using the [tf2onnx tool](https://github.com/onnx/tensorflow-onnx). The tool can take a frozen graph or saved model as input and produce an ONNX file. Unfortunately, it fails on aocr, apparently to due the graph being invalid.

I am filing the issue here and not against tf2onnx because the error occurred in Tensorflow while attempting to import the grap

[2019-06-24 02:16] kspook opened #139 "different output at exported model V2"
@emedvedev , I had different output at exported model.

I tried to Koreans replacing with ASCII values when I made tfrecords file.

[code]

But, it has different output.
In curl, it returns "W".  In the scrip, it produce 1 like the below log.
Can you guess what's the problem?
In case of #135, I changed a lot. But here I almost didn't change.
#131 issued is applied, but return different value.

* s

[2019-06-24 09:47] kspook commented on #139
@emedvedev, I think I found the reason.

all  the script I ran, was that I used 'python aocr/__main__.py ... ',
because the changed part was applied to 'aocr train/predict/...'

In this case, the output and saved_model was different.

How can I appy my changes with 'aocr train/predict/...'

[2019-06-24 10:48] kspook commented on #135
@emedvedev, I think I found the reason.

all  the script I ran, was that I used 'python aocr/__main__.py ... ',
because the changed part was applied to 'aocr train/predict/...'

In this case, the output and saved_model was different.

How can I appy my changes with 'aocr train/predict/...'

[2019-06-24 10:49] #139 closed

[2019-06-24 11:20] AnhHC commented on #76
Hello @hiepph can help me on multiple words recognition, I followed your guide to make change on max-width, max-height, max-prediction but still can't recognize multiple words.

Thanks,

[2019-06-26 03:03] hiepph commented on #76
Hi @AnhHC it's been a while since the last time I used this repo. Are you sure you followed these modifications:

[code]

And the second thing you should check is the size of your dataset. It should have more than 5k of train images.

[2019-06-26 03:33] AnhHC commented on #76
Thanks @hiepph , I followed the guidance from you and #54 to train and it can recognize the words on 1 line image now. Btw can it be done with the multi-line word recognition in image @hiepph ?

[2019-06-26 06:36] hiepph commented on #76
I don't think it's possible with this network, instead you should separate lines first and then do line recognition.

[2019-06-26 06:45] kspook commented on #110
@emedvedev , I han an error even though I chaned as you mentioned.
(@kulkarnivishal, how did you change?)
*error message.
`ValueError: '!' is not in list`

* changed code
`DataGen.CHARMAP = ['', '', ''] + list('!#$%&()*+-.0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ?@')`

[2019-06-26 08:55] kspook commented on #110
@emedvedev , in my case, aocr doesn't look to catch changed code.

I nn defaults.py, I changed max_prediction 8 to 18. but it still show 8.

![image](https://user-images.githubusercontent.com/36400753/60166178-9dd53980-983b-11e9-8e59-44a6dae08eb9.png)

[2019-06-27 04:56] kspook commented on #135
@emedvedev,  I finally found out   the difference b/  saved_model and script is  bug of your code.

![image](https://user-images.githubusercontent.com/36400753/60235548-1fcc6d80-98e3-11e9-814c-f3e5ca7fbc3e.png)

[2019-07-03 00:46] kspook opened #140 "Exporting saved Model bug"
Somebody knows the solution of the difference b/  saved_model and script.

If I train with the basic settings, it returns the same result b/ the saved model  and script.
But with the full-ascii training, it returns the different result.

code : https://github.com/kspook/aocr_fullascii.git
saved model/ checkpoints  : https://drive.google.com/open?id=1FsRonnoMG9cS9npIbob5F2Pgu29JyAzi

![image](https

[2019-07-03 01:11] emedvedev commented on #140
Duplicate of https://github.com/emedvedev/attention-ocr/issues/135.

[2019-07-03 01:11] #140 closed

[2019-07-03 01:21] emedvedev commented on #138
What you could try to do is remove the conditional statement on [L117-121 of model.py](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L119): it's responsible for converting the input to the same shape no matter if it's a single image or an array of images. Removing the statement will only make the model accept an array, but on the flip side, the conversion to ONNX might

[2019-07-03 01:23] #134 closed

[2019-07-03 01:24] #102 closed

[2019-07-03 01:38] emedvedev commented on #136
Sorry for the delay, but I think I've got it. I used MutableHashTable for the charmap lookup, and it's not supported by TF Lite. However, a simple HashTable can be used instead, so if you change L159-L169 in model.py to:

[code]

And remove the `with tf.control_dependencies` statement on L171, then it should work. It might make the model init somewhat faster, too, although not by much.

[2019-07-03 01:41] #133 closed

[2019-07-03 06:31] kspook commented on #140
@emedvedev,  to prevent from misunderstanding ^^

[2019-07-03 08:30] wenston2006 opened #141 "Do I have to resize the image to fixed size at first before generating tfrecords data for training or testing?"
I noticed that in the code 'dataset.py' one training( or testing) image is read as data of bytes type. There seems to be no information about image width and height during the process of generating tfrecords. So do I have to resize the training or testing image to fixed size at first?

[2019-07-03 09:15] emedvedev commented on #141
You can have images of any size in the dataset. Uniform size would work much better for training and recognition though, and don’t forget to set the `max-width` and `max-height` params during training.
On Jul 3, 2019, 15:30 +0700, wenston2006 <notifications@github.com>, wrote:

[2019-07-03 10:09] rsierrap opened #142 "How can I generate tfrecord files?"
Hi, I would like training a model to recognize a custom dataset. However, I have a problem building the tfrecord file. I have no idea to do this. Please, can anyone tell me step by step how can I generate the tfrecord files???

[2019-07-03 12:43] emedvedev commented on #142
I think the ["create a dataset" section of the README.md](https://github.com/emedvedev/attention-ocr/#create-a-dataset) covers it reasonably well.

[2019-07-03 12:43] #142 closed

[2019-07-03 12:49] rsierrap commented on #142
More or less, but I create a similar dataset and the train process does not work. It never cross the zero step.

[2019-07-03 13:00] emedvedev commented on #142
Make sure `max-width` and `max-height` are set correctly during training. It’s possible the default values are too low and your entire dataset gets skipped.
On Jul 3, 2019, 19:49 +0700, rsierrap <notifications@github.com>, wrote:

[2019-07-04 01:38] wenston2006 commented on #141
Thanks for your reply!Can you give any advice on Chinese ocr training? My aim is to recognize the Chinese characters in an image. I have tried encoding the Chinese character as utf-8 since Chinese characters are not supported by Latin-1. But the utf-8 type would take 3-4 bytes. In my opinion the label of one character should take just one bytes. So what should I do? Can I tansform the label as a n

[2019-07-04 03:37] emedvedev commented on #141
You might want to look into extending the [charmap](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/data_gen.py#L23) instead. Take a look at `model.py` to understand how it's used, and at the `full-ascii` flag to have an example of extending it, and then I think it shouldn't be difficult to introduce Chinese characters into it either.

There might be some unexpected issues with Un

[2019-07-04 03:37] #141 closed

[2019-07-09 12:09] chbaumgaertner commented on #136
I'm also trying to convert the model to tf.lite and encounter the same problems. After changing L159-L169 and L171, I get the following error:

[code]

Any recommendations?

[2019-07-09 12:20] emedvedev commented on #136
Could be something with the HashTable syntax. My recommendation was off the top of my head, so not guaranteed, but should still be pretty close :)

Is it just the export that doesn’t work with the changes? Does training work? If it doesn’t, then it’s definitely the HashTable syntax, and should be straightforward to fix through some debugging and going through the docs.
On Jul 9, 2019, 15:09 +0300,

[2019-07-18 11:56] mjack3 opened #143 "ValueError: ' ' is not in list"
I'm training my own dataset. Here there is my actual alphabet from

CHARMAP = ['', '', ''] + list("ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789,.-! ")

note my alphabet it has a space lane at the end because cmd return me the next message

ValueError: ' ' is not in list

any help would be great as its for an urgent project. Thanks all!

[2019-07-18 12:21] mjack3 commented on #143
Actually i have found that this message changes, sometimes says ' ' is not in list, '.' is not in list.....
But you can check it exists  in my before character list

[2019-07-18 12:36] mjack3 commented on #143
I tryed with FULL_ASCII = True but it's not work.

And somes times in getting assert len(lex) < self.bucket_specs[-1][1].
I configured the next parameters MAX_PREDICTION = 20 but actually havent words with that size. Something is going wrong i think :S

[2019-07-19 07:09] mjack3 commented on #143
I will attach a screenshot of my problems.

Here what the cmd return
https://pasteboard.co/IoFcXoa.png

Here my data_gen.py
https://pasteboard.co/IoFe3z1.png

[2019-07-19 12:01] mjack3 commented on #143
fixed, i was ritting in the wrong place

[2019-07-19 12:01] #143 closed

[2019-07-22 09:45] githubpiyush opened #144 "Sliding window's width on image?"
The gif's you have included as output, can we change the width of those sliding windows?

[2019-07-22 09:51] emedvedev commented on #144
You’d have to change the model for that, as the windows represent the attention part of the model. You could also probably adjust the drawing method, but then the representation wouldn’t be accurate anymore, so I’m not really sure why you’d want to do that.
On Jul 22, 2019, 16:45 +0700, githubpiyush <notifications@github.com>, wrote:

[2019-07-22 09:56] githubpiyush commented on #144
How is the width is decided? Like which part of the code?
Is it learning from previous input's attention or what?
Thanks for the response

[2019-07-22 09:59] githubpiyush commented on #144
Drawing method if visualize_attention in model.py file?

[2019-07-22 10:31] githubpiyush commented on #144
I want to increase the width because if i can increase the width then characters in my input image can be recognized properly.

[2019-08-01 09:03] AhmadShaik commented on #133
@gnostis I am also working on the similar problem. I want to recognise a label number that contains one uppercase character and 6 to 8 digits. It would be really helpful if you share details like how you prepared your dataset, how many epochs you trained the model, what type of fonts you used.

[2019-08-06 11:23] AhmadShaik opened #145 "How to use "predict" to perform prediction on a single image?"
I am trying to perform the prediction on a single image using the following script.
import argparse
import tensorflow as tf
import numpy as np

[code]

When I run the script I am getting below error:

[code]

Can someone explain the process to perform recognition on a single image.

[2019-08-07 22:54] TannerGilbert commented on #10
Still having problems with this. Can you share an example on how to match width, height and prediction_length as do not get a error

[2019-08-08 06:43] AhmadShaik opened #146 "InvalidArgumentError (see above for traceback): Cannot assign a device for operation prefix/Rank: Could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available."
When I tried to perform prediction on a single image, I am getting an error at Node prefix/Rank: saying could not satisfy explicit device specification '/device:GPU:0' because no supported kernel for GPU devices is available.
I am trying to solve this problem from quite a long time. Any help or suggestions are appreciated.

[2019-08-14 20:46] sushanth-d opened #147 "OSError: cannot identify image file/ PIL error"
Hello!
First of all, a humble Thank you to you for creating this repository and of course the python module :)

Here is an issue I am facing, the log of which is pasted:
....
2019-08-14 20:41:58,231 root  INFO     Step 173: 0.058s, loss: 2.590488, perplexity: 13.336274.
2019-08-14 20:41:58,284 root  INFO     Step 174: 0.051s, loss: 2.541614, perplexity: 12.700156.
2019-08-14 20:41:58,337 root  INF

[2019-08-14 20:51] sushanth-d commented on #147
As seen above in the log, the training has successfully started and just when it is about to unleash its powers, an error is thrown and the training stops.
Tensorflow version: 1.14.0
Pillow version: 5.4.1
aocr version: 0.7.6

ANY help or thoughts on this will be much, much appreciated.
Gratitude,
Sushanth

[2019-08-15 13:04] sushanth-d commented on #145
I am trying to do the same, but no luck.
Any help here would be much appreciated.
Thank you.

[2019-08-21 07:59] githubpiyush commented on #145
Add below code in __main__.py file under this condition:

(Line 263 in __main__.py file)

elif parameters.phase == 'predict':
dirpath = 'Enter directory absolute path'
for filename in os.listdir(dirpath):
                try:
                    with open(dirpath+filename, 'rb') as img_file:
                        img_file_data = img_file.read()
                        text, probability = model.p

[2019-08-21 08:02] githubpiyush commented on #145
![Screenshot from 2019-08-21 13-26-35](https://user-images.githubusercontent.com/35293206/63413776-085bbd80-c418-11e9-8054-03c97c5df2ea.png)

Modify line 263 in __main__.py file.
Hope it helps.

[2019-08-22 07:00] sushanth-d commented on #145
Thanks a lot, Piyush.
Big help.
The code could not have been more elegant.

[2019-08-22 07:04] AhmadShaik commented on #145
@githubpiyush @githubpiyush I have updated the code in main.py. From where do I need to run main.py file. Could anyone of you can explain in more detail.

[2019-08-22 08:37] githubpiyush commented on #145
@AhmadShaik  You just need to go inside aocr folder open terminal over there and execute under score main.py file with predict as argument (Enter the directory path in your code where i mentioned enter directory absolute path in the code snippet )

[2019-08-22 15:19] kalai2033 commented on #145
![image](https://user-images.githubusercontent.com/49688647/63527134-d2decf00-c500-11e9-9eb6-13b9b2e998a5.png)
@githubpiyush i have modified the code in the main.py and ran the command python __main__.py predict
i didnt get any result.

[2019-08-22 15:21] sushanth-d commented on #145
Try "python __main__.py --predict

[2019-08-22 15:53] kalai2033 commented on #145
@sushanth-d  Thanks man. That works. But im getting a new error. Do i need do any installation after cloning the repository. I just cloned the repo and modified the main.py and ran the above code. Now im getting this error. Can you let me know if there is any installation steps. I did pip installation aocr before. Is there anything else i should do before i run the code.

Traceback (most recent ca

[2019-08-22 16:05] githubpiyush commented on #145
It is importing some module and it is not present there which is causing this error.

If you use this repo in ubuntu then you just need to use this code in your main.py file:
import sys
sys.path.insert(0, "/home/Desktop/aocr ")

You need to add this code above the module imports.
Please find the windows equivalent of this.

[2019-08-23 05:23] githubpiyush opened #148 "How to crop the highlighted parts out of those output images."
When they map attention i want just the highlighted part not the whole image in output.

[2019-08-23 07:19] kalai2033 commented on #145
Thanks @githubpiyush.  I changed that to from model.model import Model. Now im facing this error.
Traceback (most recent call last):
  File "__main__.py", line 24, in <module>
    from model.model import model
  File "C:\Users\Kalai\attention-ocr\aocr\model\model.py", line 19, in <module>
from ..util.data_gen import DataGen
ValueError: attempted relative import beyond top-level package

[2019-08-23 07:25] githubpiyush commented on #147
May be a zero byte file or a text or different file is present.
The reason why when it is loading, leading to this error.

[2019-08-23 07:35] githubpiyush commented on #145
Remove those '..' too from model.py file or where is that error is coming from.
from ..util.data_gen import DataGen
become this:
from util.data_gen import DataGen
If you find any preceding '.' in import please remove them.

[2019-08-26 11:10] githubpiyush commented on #145
Any success ?

[2019-08-27 11:40] kalai2033 commented on #145
@githubpiyush No bro. It was not working. There is some problem with importing packages.

[2019-08-27 13:24] kalai2033 commented on #145
@githubpiyush I have cleared the import error. Now Im getting error while reading the image.

E0827 15:21:58.329910  9636 __main__.py:298] Result: error while opening file img.jpg.
2019-08-27 15:21:58,329 root  ERROR    Result: error while opening file img.jpg.

[2019-08-27 13:50] kalai2033 commented on #145
th1_1.jpg LLLLLZZZZZ 1.3522936940656732e-16
th1_10.jpg L66ZZZZZZZ 1.3564668442314004e-16
th1_100.jpg L66ZZZZZZZ 1.3502966319449094e-16
th1_101.jpg LLL6ZZZZZZ 1.3328914537112895e-16

i got this output. None of my predictions are wrong. As of now im using tesseract to extract the text which gives decent output after some preprocessing. I have no idea how to use aocr. Should i train my own model to e

[2019-08-28 02:04] cuongpd58 commented on #98
@emedvedev I have issue with image height too. I don't want to predict 2 lines of text but a larger height give me a better performance on complex charset such as chinese in a single text line. I gained this experience by training a model with a larger height with the code of Yuntian Deng (da03) https://github.com/da03/Attention-OCR.
Now I try to do this again with this code but got error when squ

[2019-08-28 10:05] githubpiyush commented on #145
What checkpoints you are using for this prediction?

You can train your own model on your dataset for best results.
Training process is already mention in readme file of this repository.

[2019-08-28 11:55] kalai2033 commented on #145
@githubpiyush Thats what im confused. Is there any pre trained models on which i can test my images. As of now i just clone the repositry and ran the test for my images. I dont see any checkpoints in the aocr module.

[2019-09-04 05:12] githubpiyush commented on #145
You have to train it on some amount of data and for a good number of epochs too.

[2019-10-17 18:42] gabrielziegler3 commented on #2
I'm sorry @emedvedev , how exactly should these parameters be adjusted?

[2019-10-18 01:08] emedvedev commented on #2
Prediction length can be adjusted with the `--max-prediction` CLI parameter now.
On Oct 18, 2019, 01:42 +0700, Gabriel Ziegler <notifications@github.com>, wrote:

[2019-10-18 12:38] gabrielziegler3 commented on #2
Indeed that solved! Problem was that I kept changing the `max_prediction_length` in model.py and it was always overwritten by the cli default arguments.
Thanks

[2019-10-25 09:02] chhatrachhorm commented on #146
I believe you can fix this by passing the argument `--gpu-id -1`.
e.g. `aocr train ./datasets/training.tfrecords --gpu-id -1` this will let the code to use `cpu:0` instead.
see this [model.py#L60](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L60) and this [\_\_main\_\_.py#L88](https://github.com/emedvedev/attention-ocr/blob/master/aocr/__main__.py#L88)

[2019-10-25 09:10] chhatrachhorm opened #150 "Always get error with assert len(lex) < self.bucket_specs[-1][1] on Tensorflow 1.2.1"
Hi, I always get assertion error in `assert len(lex) < self.bucket_specs[-1][1]`.
__Could you help give me some clues on how to fix this?__
*Tensorflow Version*: 1.2.1
I used to the training images from *A Toy Example in https://github.com/da03/Attention-OCR/#a-toy-example*
I also tried changing epoch size to 500 as well (total image is 1000) but still got the problem.
[code]

[2019-10-25 23:46] emedvedev commented on #150
Your `max_prediction_length` is 8, so if you have labels over 8 characters, you'll get this error. You should adjust it with the `--max-prediction` CLI parameter.

[2019-10-25 23:46] #150 closed

[2019-10-26 07:20] mikylucky opened #151 "Assertion Error on training"
Hi there,
I'm trying starting a training process with attention-ocr, but I get the following error.

[code]

Do you know why it's thrown?

[2019-10-26 07:30] emedvedev commented on #151
You probably have an image with a label that's longer than your max_prediction_length. It's 8 by default, so if you have labels over 8 characters, you'll get this error. You should adjust it with the `--max-prediction` CLI parameter.

[2019-10-26 07:30] #151 closed

[2019-10-26 07:33] mikylucky commented on #151
worked!

[2019-10-26 07:59] mikylucky opened #152 "White text on coloured background"
Hi there,
is aocr able to read white text on coloured background?

Do you suggest to make images grayscale and/or invert when the text is not darker than the background?

[2019-10-26 09:32] emedvedev commented on #152
There shouldn't be a problem with it, it all depends on how good your dataset is.

Some preprocessing could be beneficial, yes, but it all depends on your particular case, so just experiment. :)

[2019-10-31 06:09] mikylucky opened #153 "Target Embedding Size explanation"
Hi,
can someone explain me what's the `embedding_size` parameter used for? I cannot understand what is "Embedding Size".

Thanks!

[2019-11-07 11:59] githubpiyush commented on #152
How to get bounding box of the highlighted parts out of those GIF images??

[2019-11-13 05:12] smoolya17 commented on #143
I am curious how
`CHARMAP = ['', '', ''] + list("ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789,.-! ")`
is wrong?

[2019-11-13 08:28] mjack3 commented on #143
I was writing in an incorrect file :)

[2019-11-14 08:59] chrimarf commented on #136
Hi there, I am trying to do the same on a Mac. I have been able to export in tflite mobilenet V1 but I am not able to do the same with this model.

Could you tell me what I am doing wrong ? I have trained the model this way

`aocr train --max-prediction=4 --max-width=400 cropped_images/datasets/training.tfrecords`
`aocr export --max-prediction=50 --max-width=400 --format=frozengraph ./exported-mod

[2019-11-14 09:05] chrimarf commented on #136
Hi there, I am trying to do the same on a Mac. I have been able to export in tflite mobilenet V1 but I am not able to do the same with this model.

Could you tell me what I am doing wrong ? I have trained the model this way

`aocr train --max-prediction=4 --max-width=400 cropped_images/datasets/training.tfrecords`
`aocr export --max-prediction=50 --max-width=400 --format=frozengraph ./exported-mod

[2019-11-15 04:32] parmarsuraj99 commented on #153
It's like converting CNN **feature maps** into a dense representation which can then be fed to Attention mechanism. In NLP, we convert sentences into numbers using vector representations for each word, with/without context(these are called **word embeddings**). which are later used as an input (representing a sentence) to a model. [https://machinelearningmastery.com/what-are-word-embeddings/](url)

[2019-11-18 06:07] mikylucky commented on #153
Nice explanation, thanks!

[2019-11-18 06:07] #153 closed

[2019-11-27 07:08] VikramBharadwaj1995 commented on #143
Hey, how did you fix this issue?

[2019-11-30 06:22] macabdul9 opened #154 "Assertion Errror during training (defualt parameters)"
![error](https://user-images.githubusercontent.com/25720695/69896654-dbe50500-1367-11ea-8439-8be7741600db.png)

[2019-11-30 06:34] macabdul9 commented on #154
fixed it by adjusting --max-prediction CLI parameter

[2019-11-30 06:34] #154 closed

[2019-12-01 01:08] raghavw7 opened #155 "During training the following errors are generated"
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/aocr/__main__.py:20: The name tf.logging.set_verbosity is deprecated. Please use tf.compat.v1.logging.set_verbosity instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/aocr/__main__.py:20: The name tf.logging.ERROR is deprecated. Please use tf.compat.v1.logging.ERROR instead.

2019-12-01 01:04:29.729170: I tensorfl

[2019-12-01 03:26] macabdul9 commented on #155
make sure that your dataset.tfrecords path is correct if still doesn't work put absolute path.

[2019-12-01 23:44] raghavw7 commented on #155
Thank you! @macabdul9  it worked once I entered the correct path.

[2019-12-01 23:44] #155 closed

[2019-12-03 07:41] macabdul9 opened #156 "Predictions from frozen graph are different ?"

[2019-12-05 06:04] Sayyam-Jain opened #157 "Batch Prediction"
Hi. Thank you for the nice work. I noticed that during prediction, each image is loaded and OCR is predicted. Can you please tell me how to predict on a batch of images simultaneously in order to increase GPU efficiency and save time. Thanks

`elif parameters.phase == 'predict':
            for line in sys.stdin:
                filename = line.rstrip()
                try:
                    wit

[2019-12-11 17:19] #156 closed

[2019-12-26 17:39] aggrowal opened #158 "AssertionError while training"
While training the model following error occurs:

`
Colocation members, user-requested devices, and framework assigned devices, if any:
  MutableHashTable (MutableHashTableV2) /device:GPU:0
  MutableHashTable_lookup_table_export_values/LookupTableExportV2 (LookupTableExportV2) /device:GPU:0
  MutableHashTable_lookup_table_insert/LookupTableInsertV2 (LookupTableInsertV2) /device:GPU:0
  map_1/while

[2019-12-27 10:34] #158 closed

[2020-01-01 07:52] adwaitbhope commented on #158
Can you let me know your solution to this error?

[2020-01-04 08:06] ashwath98 opened #159 "Option to add custom character vocabulary"
I think that it will be useful to have an additional parameter where the user can add their own character set for the model.

I think this can be done with some changes to the data_gen code to take characters from a file, and a custom_vocab parameter.

Do you think I should go ahead with implementing this?

[2020-01-04 10:12] emedvedev commented on #159
Of course! I’ll gladly accept a PR. If you look into closed issues, we did have people training with non-standard charsets, and they still might have code patches left.
On Jan 4, 2020, 09:06 +0100, Ashwath Shetty <notifications@github.com>, wrote:

[2020-01-04 10:16] ashwath98 commented on #159
Great!! Thanks

[2020-01-08 09:21] vladdders opened #160 "Space prediction"
Hello,

Say I want to predict an image that contains 2 words with a space between them, something like: 'ABC 1234'. Is attention ocr able to do such prediction? I have tried to generate such sequences and train but I haven't been able to obtain decent results... I am not entirely sure how to store the lables in the txt files considering it has a space, should I use quotation marks? But then is it

[2020-01-08 11:00] emedvedev commented on #160
Just treat space as any other character, IIRC it should still work.
On Jan 8, 2020, 16:21 +0700, vladdders <notifications@github.com>, wrote:

[2020-01-14 13:32] vladdders commented on #160
It is possible to do this by using the the `--full-ascii` argument in the training command.

[2020-01-14 13:32] #160 closed

[2020-01-14 13:43] vladdders opened #161 "continue training from external checkpoint"
Hi,

I am having the following issue. Suppose I trained my model with one environment and then I changed the environment and attempted to continue the training by placing the checkpoint into the `checkpoint` folder. However when trying to train again I get the following error:

[code]

Have you got any idea why this might happen? I am totally confused. All I did was to copy the old `.ckpt` file in

[2020-01-15 07:35] laksh9950 commented on #160
is it working by using --full-ascii are you getting spaces in your prediction

[2020-01-15 07:44] vladdders commented on #160
Yes, what that does is adding all the ascii characters, including `' '` to your charmap.

[2020-01-15 07:47] laksh9950 commented on #160
thanks  i am doing the same training
how your accuracy coming
how did you create a dataset with multiple words

[2020-01-15 07:48] laksh9950 commented on #160
thanks i am doing the same training
how your accuracy coming
how did you create a dataset with multiple words

[2020-01-15 08:05] laksh9950 commented on #160
How did you created the dataset of multiple words
Can you share training hyperparameters

[2020-01-17 08:57] OctaM commented on #136
Any update?

[2020-01-19 20:49] thhart opened #162 "Documentation for input/output tensors"
I want to integrate the model programmatically, how to receive more detailed information from the output model. How are the tensors named and structured in the graph to receive information like this (if available):

**input:**

image data bytes

**output:**

bounding box location
score/probability
single character location

[2020-01-19 23:59] thhart opened #163 "Problem feeding data"
I try to use the exported model in a Java environment. I have other network models working well.  Aocr is working pretty well from CLI as well. But i can not get to run in the Java library (1.15). The big difference to other models is the input tensor. It is named 'input_image_as_bytes' in aocr. The question is what type of input is expected here. I tried the raw JPG but it raises errors then:

[c

[2020-01-20 11:06] Ryansanity commented on #146
i got the same question,need help~.~

[2020-01-21 12:33] laksh9950 opened #164 "there is no way to get validation loss except maually checking the loss for each checkpoint ."

[2020-01-23 11:08] mialo-tech commented on #138
I have done the steps as you mentioned but now I'm getting another error

`ValueError: slice index 0 of dimension 0 out of bounds. for 'map/strided_slice' (op: 'StridedSlice') with input shapes: [0], [1], [1], [1] and with computed input tensors: input[1] = <0>, input[2] = <1>, input[3] = <1>.
`

[2020-02-03 11:22] githubpiyush opened #165 "Tensorflow 2 package"
Can you tell me when can we expect this package with tensorflow 2.1.0 ?

[2020-02-05 08:52] Nateliu712 commented on #138
@mialo-tech I meet the same question. Do you fix the problem?

[2020-02-11 08:25] billxljin commented on #145
I got the same error when  I try to run your code.
Here is a working version I modified base on your code.

import sys
import argparse
import os
import tensorflow as tf
import numpy as np
def load_graph(frozen_graph_filename):
    detection_graph = tf.Graph()
    with detection_graph.as_default():
        od_graph_def = tf.GraphDef()
        with tf.gfile.GFile(frozen_graph_filename, "rb") as fid:

[2020-02-11 12:24] githubpiyush commented on #145
Try to use this function in getimage:
final_image = cv2.imread(img_path)
_, im_buf_arr = cv2.imencode(".png", final_image)
img_file_data = im_buf_arr.tobytes()
return img_file_data

if you get same error then probably there is some problem with your GPU config or kernel is not registered in tensorflow for some operation for example data types in static hash tables.

[2020-02-13 13:01] laksh9950 opened #166 "Durind testing i received this output . Here first 2 characters are matching but still probablity is showing zero 7528 21ATI 1STAR 11 vs 7552 9118 3125"

[2020-02-17 11:40] githubpiyush commented on #165
@emedvedev  Any updates??

[2020-02-17 11:42] mialo-tech commented on #138
No

[2020-02-17 11:48] OctaM commented on #165
Or maybe just a guideline on what we need to change in order to work with tf2

[2020-02-17 11:51] #161 closed

[2020-02-17 12:03] githubpiyush commented on #165
@OctaM Yes that would be really helpful.
By the way i have converted most of the part using tf compat v1 and I have stuck when there is hash table defined in model.py file under model directory because dtype of (key, value) as (int, string) has been removed.

[2020-02-28 12:35] vladdders commented on #165
I performed the same steps and got stuck there as well. The main issue seems to be the fact that the project seems to be dependent on the `contrib` module which has been completely removed in v2 and I can't seem to find many of the equivalent operations in other repos...

[2020-02-29 11:45] maxpaynestory opened #167 "Convert labelme annotated json files to txt"
Does anybody has an idea how to generated annotated txt file from labelme.

I am having confusions which format aor accepts for preparing tfrecord.

[2020-03-03 04:04] themechanicalcoder opened #168 "Converting to frozen graph"
I have downloaded and extracted the model from the original GitHub repository. Please explain how to convert it to a frozen graph format. Here is how the extracted directory looks like.
![image](https://user-images.githubusercontent.com/34737471/75741405-80446200-5d30-11ea-8eef-5d5911d19d06.png)
 What are the changes that I need to make in the [export code ](https://github.com/emedvedev/attention-

[2020-03-18 14:42] maxpaynestory commented on #168
create a new folder exported-model

and run

[code]

[2020-03-19 07:06] maxpaynestory commented on #167
Closing this issue as it was created due to lack of knowledge about FSNS dataset.

[2020-03-19 07:06] #167 closed

[2020-03-19 07:07] maxpaynestory commented on #162
Also interested to know about output tensors.

[2020-03-19 11:04] maxpaynestory commented on #166
35202226293 vs 35202-2562938-3

FAAEER vs FATHER

08.05.222 vs 08.05.2029

accuracy is very bad

[2020-03-20 07:28] maxpaynestory commented on #162
I guess the output tensors are

probability
output

taken from tensorflow model server rest api results.

[2020-03-20 07:43] maxpaynestory commented on #162
Here is what people are using

[code]

[2020-04-07 15:27] #166 closed

[2020-04-07 15:29] emedvedev commented on #165
There's no plan to move this project to Tensorflow 2 yet, unfortunately, but contributions are welcome. I could create a branch to submit PRs against if there are several people who'd like to collaborate on that.

[2020-04-07 15:29] #168 closed

[2020-04-07 15:30] #163 closed

[2020-04-07 15:30] #152 closed

[2020-04-07 15:31] #147 closed

[2020-04-07 15:31] #145 closed

[2020-04-07 15:32] #146 closed

[2020-04-07 15:32] #159 closed

[2020-04-25 23:53] captainCod3 opened #169 "bash: /usr/bin/curl: Argument list too long. Got this error while using curl for prediction on exported model."
I was trying to get the prediction on an image using the curl command as mention in the documentation. However, when I execute the command, I got the error: **bash: /usr/bin/curl: Argument list too long**. I think the issue is because my image is too large(169K) size, as curl is working fine with the smaller images. Is there some way to handle this situation?. I have studied somewhere to pass a fi

[2020-05-02 10:27] rawat123 opened #170 "resume training"
hi,
i am training custom dataset, how can i resume training from last checkpoint saved , below is the command i am using to start training

aocr train  training.tfrecords --max-width 200 --max-prediction 50

i stopped training at 4600 steps when i resumed training it starts from step 1 but loss and perplexity  values are from last checkpoint. so is it normal behavior and my training is not ruined

[2020-05-03 01:25] #170 closed

[2020-05-19 23:25] mrgloom opened #171 "Which loss function is used?"
Which loss function is used? is it a CTC loss or seq2seq models use some other sort of loss function?

[2020-05-26 11:29] Guneetkaur03 commented on #151
Thanks! It worked

[2020-05-30 10:36] Guneetkaur03 opened #172 "ONNX conversion error"
I am attempting to convert this model to ONNX using the tf2onnx tool. The tool can take a frozen graph or saved model as input and produce an ONNX file. Unfortunately, it fails on aocr, apparently to due the graph being invalid.

I am filing the issue here and not against tf2onnx because the error occurred in Tensorflow while attempting to import the graph that aocr export produced. Here is the er

[2020-06-10 17:08] shriramhr opened #173 "Works with phrases/sentences?"
Hi,

I tried training it on multiple word inputs but it was only able to infer on the first word. Is there a way to make it work on full sentences?

[2020-06-19 10:38] AhmedCheikhRouhou commented on #173
hi, yes you should increase the values of these parameters :
image width
max prediction
and you can add the space character

[2020-06-20 14:13] #173 closed

[2020-06-20 14:18] emedvedev commented on #171
[Log loss](https://github.com/emedvedev/attention-ocr/blob/7bb17af211de60e0fff5d56925f73d9018def744/aocr/model/seq2seq.py#L352).

[2020-06-20 14:18] #171 closed

[2020-06-29 07:50] emedvedev commented on #172
Duplicate of #138.

This is a known issue, but unfortunately I don't have cycles (or ONNX experience) at the moment. Leaving the original one open though, in case someone wants to try and fix it.

[2020-06-29 07:50] #172 closed

[2020-07-29 13:27] kunalgoyal9 commented on #129
how many images needed for good prediction

[2020-07-30 06:51] mokiya opened #174 "Input Shape"
Hi

I would like to know input shape information.

I trained data using sample below without any specific configuration.
`wget http://www.cs.cmu.edu/~yuntiand/sample.tgz`
Which means, I just run `aocr train ./datasets/training.tfrecords` for training.

Testing (`aocr test ./datasets/testing.tfrecords`) is working as intended, and exporting (`aocr export --format=frozengraph ./exported-model`) is a

[2020-07-30 10:21] Ram-Godavarthi commented on #172
Hi @Guneetkaur03 ,

Did you solve problem of attention ocr to onnx???

[2020-08-11 09:39] tunymedia02 commented on #136
Same problem here. Any update to this?

[2020-08-25 20:04] princeverma03 commented on #142
Can we train with multiple tf record files (shards). If so , how?

[2020-08-27 09:58] princeverma03 opened #175 "Prediction on negative class"
If we train on data having simple labels like A-Z and 0-9, what does the model predict for negative image(say blank image), (please forgive me if I sound dumb, just a thought) having no labels associated with it?  Also in training, can we include negative class( X = blank image , Y= no label).

[2020-08-28 12:47] mitali3112 opened #176 "Attribute Error: 'int' object has no attribute 'value' for attn_length"
I am getting this error while using the train phase for aocr. Any suggestions would be helpful

Traceback (most recent call last):
  File "/usr/local/bin/aocr", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.6/dist-packages/aocr/__main__.py", line 251, in main
    channels=parameters.channels,
  File "/usr/local/lib/python3.6/dist-packages/aocr/model/model.py", line 157, i

[2020-09-15 09:21] thewhiteflower110 commented on #157
For testing I found it -> model/model.py line no. 85
For predict, you may improvise the predict method on line no. 288 of model.py

[2020-10-06 14:43] maxpaynestory commented on #174
input is input_image_as_bytes which is not a shape, it takes bytes

for example

``
image = cv2.imread("myimage.png", 1)
``

then convert it onto bytes

``
is_success, im_buf_arr = cv2.imencode(".png", image)
``

``
byte_im = im_buf_arr.tobytes()
``

feed it to input tensor input_image_as_bytes

``
sess3.run([prediction_result], feed_dict={input_image_as_bytes: byte_im})
``

[2020-10-12 06:53] #174 closed

[2020-10-12 06:57] #162 closed

[2020-11-22 14:49] Daornit commented on #158
why you closed it without any explanation ?

[2020-11-23 01:22] Daornit opened #179 "Calculating training steps with dataset size and batchsize?"
Hi i prepared a datasets having 15226 images with respective annotations. I'm new to machine learning.
Training images: 15226
Batch size: 65
Epoch: 1000
Max width: 260
Max height: 70
with this information can i calculate how many steps need to finish in order to train my model ?

I m now step at 152240.

Any help will be appreciated

[2020-11-25 11:24] xuexigua opened #180 "关于注意力可视化，我有点读不懂"
请问代码的整个思路是怎么样的？卷积里的那个数字列表是怎么得来的？

[2020-12-05 09:45] mohammad228 commented on #2
how much must be set  this parameter?

[2020-12-05 10:34] mohammad228 commented on #2
I have this error when i train:
2020-12-05 14:03:20,638 root  INFO     Step 1: 6.937s, loss: 3.699641, perplexity: 40.432805.
Traceback (most recent call last):
  File "/home/girizliii/.local/bin/aocr", line 8, in <module>
    sys.exit(main())
  File "/home/girizliii/.local/lib/python2.7/site-packages/aocr/__main__.py", line 257, in main
    num_epoch=parameters.num_epoch
  File "/home/girizliii/.

[2020-12-05 12:13] mohammad228 opened #181 "Error on train phase"
I have some pic with text file contain annotation tag of pictures.But when i start train phase, show me this error:
Traceback (most recent call last):
  File "/home/girizliii/.local/bin/aocr", line 8, in <module>
    sys.exit(main())
  File "/home/girizliii/.local/lib/python2.7/site-packages/aocr/__main__.py", line 257, in main
    num_epoch=parameters.num_epoch
  File "/home/girizliii/.local/lib/

[2020-12-11 05:45] TanayKarve opened #182 "Significance of hyperparameters in defaults.py"
I understand that the model uses default hyperparameters for training from defaults.py. However why are these specific values used?
The reason I ask this is, the harvard [paper](https://arxiv.org/pdf/1609.04938v1.pdf) for this model mentions different values for certain parameters, e.g. **token embedding size** is 80 whereas defaults.py sets it to be 10, then **hidden state of attention decoder**

[2021-01-12 10:25] 0x0004 commented on #182
just for fun..

[2021-01-29 10:02] Ankan1998 opened #183 "TF 2 Implementation error"
2021-01-29 15:28:13.823161: W tensorflow/stream_executor/platform/default/dso_loader.cc:60] Could not load dynamic library 'cudart64_110.dll'; dlerror: cudart64_110.d
ll not found
2021-01-29 15:28:13.831735: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
2021-01-29 15:28:19.039282: I tensorflow/core/platform/cpu_fea

[2021-02-10 17:40] eric-silk opened #184 "Unable to export model after training"
I'm attempting to train a custom `aocr` model on an internal dataset. I've labeled the data using a directory of images, and an annotation file as described in the README. This was converted to a dataset (`training.tfrecords`) and then trained according to the instructions (with some parameters to accomodate our data):
[code]
This ran to completion, and I attempt to export it as shown in the READM

[2021-02-19 08:17] john4d20 opened #185 "can it detect numbers"

[2021-02-19 09:10] #185 closed

[2021-02-23 03:38] khu834 commented on #165
@emedvedev
I'd be happy to contribute to a TF2 conversion. A branch for folks to merge into would be very useful.

[2021-02-23 04:33] emedvedev commented on #165
@khu834 thank you so much! Created a https://github.com/emedvedev/attention-ocr/tree/tf2 branch :)

[2021-02-23 05:07] khu834 commented on #165
Awesome, by the way, this is to completely convert to TF2 right? Not trying to use tensorflow.compat.v1
Let me know and I'll take a stab at it.

[2021-02-23 05:33] khu834 commented on #183
Have you tried `tf.raw_ops.MutableHashTable`?
https://www.tensorflow.org/api_docs/python/tf/raw_ops/MutableHashTable

The interface seems like it should do the same as `tf.contrib.lookup.MutableHashTable`

[2021-02-23 05:37] khu834 commented on #165
Have you tried tf.raw_ops.MutableHashTable?
https://www.tensorflow.org/api_docs/python/tf/raw_ops/MutableHashTable

The interface seems like it should do the same as tf.contrib.lookup.MutableHashTable

[2021-02-23 05:41] khu834 commented on #165
Most instances of `contrib` usage I found are fairly straightforward to replace. Things like `xavier_initializer`, `batch_norm`, `dropout`, and all the RNN cell types should all have TF2 equivalents.

Which ones haven't you found a good replacement for?

[2021-02-23 06:06] emedvedev commented on #165
Ideally to completely convert, yes :)
On Feb 23, 2021, 12:41 +0700, Kevin Chih Yao Huang <notifications@github.com>, wrote:

[2021-02-24 06:50] anantgupta129 commented on #179
Hello  @Daornit , were you able to calculate the number of steps i trained my dataset of 6000 images and trained it for 2000 epoch its been 8 hrs and it is still training. It is on 80000 step

[2021-02-24 20:14] khu834 commented on #165
@emedvedev
I've read through the code, doing some planning now in terms of the code structuring.
Overall, would you mind if we convert to tf.keras API where possible? In TF2 I think that's pretty much the preferred interface at least for the model definition.
CNN model I think definitely makes sense to write in tf.keras. This also allows substituting the feature extraction with other models such a

[2021-02-24 20:41] emedvedev commented on #165
I don't mind, tf.keras would make lots of sense imo. Thanks a lot for doing this!
On Feb 25, 2021, 03:14 +0700, Kevin Chih Yao Huang <notifications@github.com>, wrote:

[2021-03-05 20:58] micahprice commented on #165
It would be great in the meantime to open and pr to a branch intended to work using tensorflow.compat.v1 and fixing tf.contrib dependencies. Or @githubpiyush and @vladdders, was that more difficult than expected?

[2021-03-06 17:56] githubpiyush commented on #165
Ah! It's more than a year now and from what i remember i have completed this with tf.compat.v1 and yes it was a little difficult 😢 I don't have the code right now 😶

[2021-03-20 11:06] maxpaynestory opened #186 "How to stop the log message appear on console"
First of all thank you for this amazing OCR. It works great for me.

When i run inference on exported frozen graph i get a lot of messages inside terminal

[code]
Is there a way to stop them from appearing on the console?

[2021-03-20 11:12] maxpaynestory commented on #184
I frequently use aocr inside Google Colabs and i haven't got any problems.
I use tensorflow_gpu==1.15 with aocr

and i have a Nvidia GPU

[2021-05-23 17:12] wolf-hash opened #187 "Someone please share their trained model on Synth 90k or equivalent"
Can someone please share either the checkpoint or a Saved model trained on Synth 90k?
The pre-trained model shared on the original repository does not work when I try to convert it to a Saved Model.
[code]
I get this error.
I need help urgently

[2021-07-14 15:37] abucka opened #188 "attention masks from saved model"
Hi,

How can I visualise attention masks using SavedModel format?
I would appreciate any hints.

[2021-08-05 13:24] abucka commented on #66
Hallo @reidjohnson, could you please share the code that you had to modify in order to feed the input data as float? I would be really interested in your solution.
I would like to export the model to SavedModel format but in the export.py script you can only do it with input image as bytes. I would like to pass an uint8 image (or float) to the model if possible.

[2021-08-19 22:39] reidjohnson commented on #66
Hey @abucka, I haven't worked on this project in some time and have to go off of memory. But, when freezing the graph, I believe I defined the placeholder code [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/model/model.py#L116) using the snippet above, also making sure to change the name of the tensor [here](https://github.com/emedvedev/attention-ocr/blob/master/aocr/util/expor

[2021-08-30 10:14] Thomnt2306 opened #189 "how to Upgrade to Tensorflow 2 ?"
Hello, I appreciate your work, I hope you can help me with the method to upgrade to Tensorflow 2.0,Looking forward to your help,thanks very much!

[2022-02-04 06:59] anidiatm41 opened #194 "given num-epoch 200 but the training is continuing Step 328+, for how many steps it will continue?"
aocr train ./data/training.tfrecords --max-width 200 --max-height 100 --model-dir ./checkpoint --max-prediction 236 --num-epoch 200

[2022-03-20 16:23] MarcoSteinke opened #195 "Exporting the model to tensorflowjs"
Hi,
I am trying to export `aocr` to tensorflowjs. But I am stuck at the point of exporting this model into a file.

When running the `aocr export ANY_LOCATION` I get the following error:

    ModuleNotFoundError: No module named 'tensorflow.contrib'

[2022-06-21 22:30] akiradavid27 commented on #194
Hi, I think I figured out the answer to this issue. There is this formula I found in stackoverflow:

(Number of images) / (Number of images per batch / step) = Number of steps per epoch

For example, in my case I used 3000 images, a batch-size of 50 and an epoch of 100. Using the formula I calculated 6,000 steps, which at the end  was the true total amount of steps the model lasted training.
Hope

[2022-08-20 05:25] #194 closed

[2022-11-12 13:11] cercatore opened #196 "README.md"
information on data.annotation.tfrecord and data.tfrecords is missing because you are telling just the first,
whilst the second format no specifying any information or clue, and still not available